@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

main {
    background: url('../images/pattern-curve.svg') bottom left no-repeat;
    background-size: contain;
}

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Slider */

.slider {
    width: 100%;
    min-height: 95vh;
    position: relative;
}

/* Slide */

.slide {
    width: 100%;
    min-height: 95vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    animation: fadeIn .4s;
}

.slide:not(:first-child) {
    display: none;
}

.slide-testimonial {
    text-align: center;
    color: hsl(240, 38%, 20%);
    background: url('../images/pattern-quotes.svg') 50% top no-repeat;
    background-size: 80px;
}

.slide-testimonial-text {
    font-size: 1.4rem;
    font-weight: 300;
}

.slide-author {
    font-size: 1.2rem;
    font-weight: 700;
}

.slide-author span {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    color: hsl(240, 18%, 77%);
}

.slide-image {
    padding: 60px;
    background: url('../images/pattern-bg.svg') center no-repeat;
    background-size: contain;
}

.slide-img {
    border-radius: 10px;
    box-shadow: -5px 5px 20px  hsla(240, 38%, 20%, 0.1);
}

/* Slider Navigation */
.slider-nav {
    position: absolute;
    top: 52%;
    left: 50%;
    width: 100px;
    display: flex;
    transform: translateX(-50%);
    box-shadow: 5px 10px 20px  hsla(240, 38%, 20%, 0.4);
    border-radius: 40px;
    overflow: hidden;
}

.slider-btn {
    width: 50%;
    height: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.slide-prev {
    background: url('../images/icon-prev.svg') center no-repeat;
    background-color: white;
}

.slide-prev:hover, .slide-next:hover{
    background-color: hsl(240, 18%, 77%);
}

.slide-next {
    background: url('../images/icon-next.svg') center no-repeat;
    background-color: white;
}

.border {
    border: solid 1px grey;
}

.attribution { 
    height: 5vh;
    line-height: 5vh;
    font-size: 14px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (min-width: 768px) {
    main {
        background-size: unset;
    }

    .slide {
        flex-direction: row;
    }

    .slide-testimonial {
        text-align: left;
        background-position: 10% top;
        background-size: 100px;
    }

    .slide-testimonial-text {
        font-size: 1.8rem;
    }

    .slide-author span {
        display: inline;
    }

    .slide-image {
        width: 200%;
        margin-left: -150px;
        z-index: -1;
    }

    .slider-nav {
        top: 78%;
        left: 60%;
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1100px;
    }

    .slide-image {
        width: 250%;
    }

    .slider-nav {
        top: 77%;
        left: 50%;
    }
}

/* Animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}