@use 'sass:map';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$theme-colors: (
    'primary': linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%)),
    'primary-opaque': linear-gradient(to right, hsla(236, 72%, 79%, 50%), hsla(237, 63%, 64%, 50%)),
    'secondary': hsl(237, 63%, 64%),
    'very-light-grayish-blue': hsl(240, 78%, 98%),
    'light-grayish-blue': hsl(234, 14%, 74%),
    'light-grayish-blue-1': hsla(234, 14%, 74%, 0.5),
    'grayish-blue': hsl(233, 13%, 49%),
    'dark-grayish-blue': hsl(232, 13%, 33%)
);

$font-main: 'Montserrat', sans-serif;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(../images/bg-top.svg);
    background-position: 52vw -4vh;
    background-repeat: no-repeat;
    background-color: map.get($theme-colors, 'very-light-grayish-blue');
    font-family: $font-main;
}

h1 {
    font-size: 2rem;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

// Buttons
.button {
    display: block;
    padding: 1rem 2rem;
    border-radius: 6px;
    font-family: inherit;
    font-size: .8rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .4s all ease;
}

.button-primary {
    background-image: map.get($theme-colors, 'primary');
    color: #fff;

    &:hover {
        background-image: none;
        background-color: transparent;
        outline: solid 1px map.get($theme-colors, 'secondary');
        color: map.get($theme-colors, 'secondary');
    }
}

.button-secondary {
    background-image: none;
    background-color: #fff;
    color: hsl(237, 63%, 64%);

    &:hover {
        background-image: none;
        background-color: transparent;
        outline: 1px solid #fff;
        color: #fff;
    }
}

.button-toggle {
    appearance: none;
    width: 55px;
    height: 32px;
    margin: 0;
    padding: 4px;
    background-image: map.get($theme-colors, 'primary');
    border-radius: 48px;
    cursor: pointer;

    &::before {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        background-color: #fff;
        border-radius: 100%;
        transform: translateX(100%);
        transition: .2s transform ease;
    }

    &:checked {
        background-image: map.get($theme-colors, 'primary-opaque');

        &::before {
            transform: translateX(0%);
        }
    }
}

#pricing-section {
    padding: 2.8rem 0;
    font-weight: 700;
    
    .pricing-header {
        margin-bottom: 4rem;
        text-align: center;
        animation: .4s slideDown ease;

        h1 {
            color: map.get($theme-colors, 'grayish-blue');
        }

        .subscription-options {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            gap: 2rem;

            p {
                color: map.get($theme-colors, 'light-grayish-blue');
            }

            .input-group {

                label {
                    display: none;
                }
            }
        }
    }
    
    .pricing-options {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        .pricing-card {
            display: flex;
            flex-flow: column wrap;
            gap: 1.8rem;
            flex: 1;
            width: 100%;
            max-width: 350px;
            margin: 0 auto;
            padding: 2rem;
            background-color: #fff;
            border-radius: 10px;
            text-align: center;
            box-shadow: 1px 1px 16px 4px hsla(237, 63%, 64%, 5%);

            h4 {
                margin: 0;
                color: map.get($theme-colors, 'grayish-blue');
                font-size: 1.1rem;
            }
    
            .pricing-price {
                max-width: 100%;
                margin: 0;
                color: map.get($theme-colors, 'dark-grayish-blue');
                font-size: 3.2rem;
                text-align: center;
                text-overflow: ellipsis;
                white-space: nowrap;
                // animation: .4s fadeIn linear;
            }

            .pricing-features {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    padding: 1rem 0;
                    border-top: 1px solid map.get($theme-colors, 'light-grayish-blue-1');
                    color: map.get($theme-colors, 'grayish-blue');
                    font-size: .9rem;

                    &:nth-of-type(3) {
                        border-bottom: 1px solid map.get($theme-colors, 'light-grayish-blue-1');
                    } 
                }
            }

            .button {
                display: block;
            }

            &:nth-of-type(1) {
                animation: 1s fadeIn ease;
            }

            &:nth-of-type(2) {
                background-image: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
                animation: 3s fadeIn ease;

                h4 {
                    color: #fff;
                }

                .pricing-price {
                    color: #fff;
                }

                .pricing-features {

                    li {
                        color: #fff;
                    }
                }
            }

            &:nth-of-type(3) {
                animation: 2s fadeIn ease;
            }
        }
    }
}

footer {
    padding: 4rem 0;
    animation: .4s slideUp ease;
    
    .attribution {
        font-size: 11px; text-align: center;

        a {
            color: hsl(228, 45%, 44%);
        }
    }
}

@media(min-width: 375px) {
    .pricing-card {

        .pricing-price {
            font-size: 4rem;
        }
    }
}

@media(min-width: 768px) {
    body {
        background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
        background-repeat: no-repeat;
        background-position: top right, bottom left;
    }
}

@media(min-width: 1024px) {
    #pricing-section {

        .pricing-options {
            flex-flow: row nowrap;
            gap: 0;

            .pricing-card {
                margin: 0;

                .pricing-price {
                    font-size: 4.2rem;
                }

                &:nth-of-type(1) {
                    border-radius: 10px 0 0 10px;
                }

                &:nth-of-type(2) {
                    padding: 3.2rem 2rem;
                }

                &:nth-of-type(3) {
                    border-radius: 0 10px 10px 0;
                }
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        position: absolute;
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
        position: initial;
    }
}