@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(270deg, 20%, 96%);
  font-family: "Rubik", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: hsl(271deg, 36%, 24%);
  font-weight: 500;
}

h1 {
  font-size: 2.4rem;
}

p {
  color: hsl(270deg, 7%, 64%);
  line-height: 1.8rem;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.button-icon {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  min-height: 24px;
  background-color: transparent;
  border: none;
  outline: none;
}

.button-back span {
  display: block;
  width: 8px;
  height: 2px;
  background-color: hsl(0deg, 0%, 100%);
}
.button-back span:nth-of-type(1) {
  transform: rotate(120deg);
}
.button-back span:nth-of-type(2) {
  transform: rotate(240deg) translateY(10px);
}

.button-menu {
  gap: 2px;
}
.button-menu span {
  width: 2px;
  height: 2px;
  display: block;
  background-color: hsl(0deg, 0%, 100%);
}

#chat-app__section {
  padding: 4rem 0;
}
#chat-app__section .content {
  text-align: center;
}

.phone {
  position: relative;
  min-width: 250px;
  max-width: 250px;
  margin: 0 auto;
  background-color: hsl(270deg, 20%, 96%);
  border: 10px solid hsl(0deg, 0%, 100%);
  border-radius: 32px;
}
.phone::before {
  content: "";
  display: block;
  width: 130px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 0 0 16px 16px;
  transform: translateX(-50%);
  z-index: 999;
}
.phone .chat-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.4rem;
  padding: 2rem 1rem 1rem;
  background-image: linear-gradient(to left, hsl(293deg, 100%, 63%), hsl(264deg, 100%, 61%));
  border-radius: 18px 18px 8px 8px;
}
.phone .chat-header .chat-header__details {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.4rem;
}
.phone .chat-header .chat-header__details .chat-header__avatar {
  width: 24px;
  border: 2px solid hsl(0deg, 0%, 100%);
  border-radius: 100%;
}
.phone .chat-header .chat-header__details .chat-header__title h4 {
  display: inline-block;
  margin: 0;
  color: hsl(0deg, 0%, 100%);
  font-size: 11px;
  line-height: 11px;
  transform: translateY(2px);
}
.phone .chat-header .chat-header__details .chat-header__title small {
  display: inline-block;
  color: hsl(276deg, 100%, 81%);
  font-size: 8px;
  transform: translateY(-4px);
}
.phone .chat-conversations {
  display: grid;
  gap: 0.4rem;
  padding: 1rem 0.4rem;
}
.phone .chat-conversations .sender-chat {
  background-color: hsl(276deg, 100%, 81%);
  border-radius: 8px 8px 8px 4px;
  color: hsl(276deg, 55%, 52%);
}
.phone .chat-conversations .receiver-chat {
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 8px 8px 4px 8px;
  color: hsl(271deg, 15%, 43%);
}
.phone .chat-conversations .chat-text {
  max-width: 128px;
  margin: 0;
  padding: 0.4rem;
  font-size: 8px;
  line-height: 12px;
}
.phone .chat-conversations .chat-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.4rem;
  max-width: 140px;
}
.phone .chat-conversations .chat-images img {
  border-radius: 8px;
}
.phone .chat-conversations .chat-task {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  max-width: 160px;
  background-image: linear-gradient(to left, hsl(293deg, 100%, 63%), hsl(264deg, 100%, 61%));
}
.phone .chat-conversations .chat-task p {
  margin: 0;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
}

footer .footer-attribution {
  font-size: 11px;
  text-align: center;
}
footer .footer-attribution a {
  color: hsl(228deg, 45%, 44%);
}

.design {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 50%;
  z-index: 999;
}

/*# sourceMappingURL=style.css.map */
