@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Public Sans', sans-serif;
}

body {
    margin: 0;
}

header {
    width: 100%;
    background-color: white;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

h1 {
    margin: 0 0 0.6rem;
    color: hsl(233, 26%, 24%);
}

p {
    color: hsl(233, 8%, 62%);
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 1.4rem;
}

.row {
    display: flex;
    width: 100%;
    flex-flow: wrap;
    align-items: center;
}

nav {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    
}

.nav-logo {
    width: 150px;
}

.nav-menu-list {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    top: 80px;
    left: 0;
    text-align: center;
    background: hsla(233, 26%, 24%, 50%);
    animation: fadeIn .4s;
}

.nav-list {
    padding: 2rem;
    background-color: white;
    font-size: 1.2rem;
    list-style: none;
    border-radius: 10px;
}

.nav-item {
    padding: 14px 0;
}

.nav-link {
    color: hsl(233, 26%, 24%);
    transition: color .2s ease-in-out;
}

.nav-link:hover {
    color: hsl(233, 8%, 62%);
}

.nav-menu-icon {
    width: 40px;
    cursor: pointer;
    -webkit-user-select: none;
    transition: all .1s ease;
}

.nav-open {
    content: url(../images/icon-hamburger.svg);
}

.nav-close {
    content: url(../images/icon-close.svg);
    width: 25px;
}

/* .nav-icon-open {
    background: url('../images/icon-hamburger.svg') center no-repeat;
    background-size: contain;
    color: black;
} */

/* Call-To-Action */
.cta {
    height: 100vh;
    background: url('../images/bg-intro-mobile.svg') top right no-repeat;
    background-size: contain;
    text-align: center;
}

.cta .row {
    flex-direction: column-reverse;
}

/* Why choose Easybank? */
.why-choose-easybank {
    text-align: center;
}

.feature-card img {
    width: 80px;
}

/* Buttons */
.btn-primary {
    padding: 14px 32px;
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    cursor: pointer;
}




















/* Footer */
footer {
    background-color: hsl(233, 26%, 24%);
    color: white;
}

.border {
    border: solid 1px grey;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}