@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Public Sans', sans-serif;
    
}

body {
    margin: 0;
    overflow-x: hidden;
}

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
}

section {
    padding: 80px 0;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.6rem;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.6rem;
}

h6 {
    font-size: .9rem;
    color: hsl(233, 8%, 62%);
}

p {
    font-size: 1.2rem;
    font-weight: 300;
    color: hsl(233, 8%, 62%);
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 1.4rem;
}

.row {
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
}

nav {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    
}

.nav-logo {
    width: 150px;
}

.nav-menu-list {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    top: 80px;
    left: 0;
    text-align: center;
    background: hsla(233, 26%, 24%, 50%);
    animation: fadeIn .4s;
}

.nav-list {
    padding: 2rem;
    background-color: white;
    font-size: 1.2rem;
    list-style: none;
    border-radius: 10px;
}

.nav-item {
    padding: 14px 0;
}

.nav-link {
    color: hsl(233, 26%, 24%);
    transition: color .2s ease-in-out;
}

.nav-link:hover {
    color: hsl(136, 65%, 51%);
}

.nav-button {
    display: none;
}

.nav-menu-icon {
    width: 40px;
    cursor: pointer;
    -webkit-user-select: none;
    transition: all .1s ease;
}

.nav-open {
    content: url(../images/icon-hamburger.svg);
}

.nav-close {
    content: url(../images/icon-close.svg);
    width: 25px;
}

/* Call-To-Action */
.cta {
    position: relative;
    height: 100vh;
    background: url('../images/bg-intro-mobile.svg') top right no-repeat;
    background-size: contain;
    text-align: center;
}

.cta .row {
    height: 100vh;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
}

.cta img {
    position: absolute;
    top: -90px;
    right: 0;
}

/* Why choose Easybank? */
.why-choose-easybank {
    text-align: center;
    background-color: hsl(0, 0%, 98%);
}

.why-choose-easybank .row {
    gap: 1.6rem;
}

.feature-card {
    padding: 1.4rem;
}

.feature-card img {
    width: 80px;
}

.feature-card p {
    margin: 0;
    padding: 0;
}

/* Latest Article */
.latest-articles .row {
    gap: 1.6rem;
}


.latest-articles h2 {
    margin-bottom: 4rem;
    text-align: center;
}

.article-card {
    display: flex;
    flex-flow: column;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 1.2rem;
}

.card-img {
    max-height: 250px;
    min-height: 250px;
    
}

.card-img img {
    max-height: inherit;
    min-height: inherit;
    object-fit: cover;
}

.card-text {
    padding: 2.4rem;
    
}

.card-text p {
    font-size: 1.1rem;
}

.card-text a h4 {
    transition: color .2s ease;
}

.card-text a:hover h4 {
    color: hsl(136, 65%, 51%);
}

/* Buttons */
.btn-primary {
    padding: 14px 32px;
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}

.btn-primary:hover {
    /* background: linear-gradient(to right, hsla(136, 65%, 51%, 50%), hsla(192, 70%, 51%, 50%)); */
    opacity: 50%;
}




















/* Footer */
footer {
    padding: 60px 0;
    background-color: hsl(233, 26%, 24%);
    color: white;
}

footer .row {
    justify-content: space-between;
}

/* Footer Links */
.footer-links {
    list-style: none;
}


.footer-links a {
    color: white;
}

/* Socials */
.social-links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-links li {
    display: inline;
    margin-right: 10px;
}

.border {
    border: solid 1px grey;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }


    .row {
        flex-direction: row;
    }

    .col-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .col-3 {
        flex: 25%;
    }

    /* Navigation */
    .nav-menu-icon {
        display: none;
    }

    .nav-menu-list {
        display: initial;
        position: initial;
        width: initial;
        height: initial;
        padding: initial;
        top: initial;
        left: initial;
        background: transparent;
        animation: initial;
    }
    
    .nav-list {
        display: flex;
        flex-direction: row;
        padding: initial;
        background-color: transparent;
        font-size: 1rem;
    }

    .nav-item {
        margin: 0 .8rem;
    }

    .nav-link {
        position: relative;
    }

    .nav-link::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1.9rem;
        background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
        width: 100%;
        height: 2px;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform .2s;
    }

    .nav-link:hover::before {
        transform: scaleY(1);
    }

    .nav-button {
        display: initial;
    }

    .cta {
        padding: 0;
        background: url('../images/bg-intro-desktop.svg') no-repeat;
        background-position: 40vw -30vh;
        background-size: 80%;
        text-align: left;
    }

    .cta .row {
        flex-direction: row;
    }

    .cta img {
        position: absolute;
        top: 0;
        right: -8%;
        width: 50%;
        overflow-y: hidden;
    }

    /* Feature Card */
    .why-choose-easybank {
        text-align: left;
    }

    .why-choose-easybank .section-title {
        width: 70%;
        margin-bottom: 3rem;
    }

    .why-choose-easybank .row {
        flex-wrap: nowrap;
    }

    .feature-card img {
        margin-bottom: 2rem;
    }

    .feature-card h3 {
        margin-bottom: 1.2rem;
        font-size: 1.4rem;
    }

    .feature-card p {
        font-size: 1rem;
    }

    /* Latest Article */
    .latest-articles .row {
        flex-wrap: nowrap;
    }

    .latest-articles h2 {
        text-align: left;
        margin-bottom: 2.5rem;
    }

    .article-card {
        min-height: 500px;
        max-height: 500px;
        margin: 0;
    }

    .card-img {
        min-height: 170px;
        max-height: 170px;
    }

    .card-text {
        padding: 1rem;
        
    }

    .card-text a h4 {
        font-size: 1.4rem;
    }

    .card-text p {
        font-size: 1rem;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1140px;
    }

    .cta-texts h1, .cta-texts p {
        width: 80%;
    }
}

/* Animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}