@use 'sass:map';

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

$font-main: 'Ubuntu', sans-serif;
$font-secondary: 'Overpass', sans-serif;

$theme-colors: (
  'primary': hsl(356, 100%, 66%),
  'secondary' : hsl(355, 100%, 74%),
  'dark-blue': hsl(208, 49%, 24%),
  'white': hsl(0, 0%, 100%),
  'grayish-blue': hsl(240, 2%, 79%),
  'dark-grayish-blue': hsl(207, 13%, 34%),
  'dark-black-blue': hsl(240, 10%, 16%),
  'light-gray': hsl(240, 7%, 94%),
  'dark-violet': rgb(59, 62, 93),
  'peach': rgb(255, 121, 134)
);

$gradient-main: linear-gradient(180deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
$gradient-secondary: linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));

@function generateGradientMain($position) {
  @return linear-gradient($position, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: map.get($theme-colors, 'white');
  font-family: $font-secondary;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: map.get($theme-colors, 'dark-blue');
  font-family: $font-secondary;
  font-weight: 600;
  word-break: break-all;
}

h1 {
  font-size: 2.2rem;
  line-height: 3rem;
}

h2 {
  font-size: 1.7rem;
}

p {
  color: map.get($theme-colors, 'dark-grayish-blue');
  font-size: 17px;
  letter-spacing: .6px;
  line-height: 1.8rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.4rem;
}

.columns {
  display: flex;
  flex-flow: column wrap;

  .column {
    flex: 1;
  }
}

// BUTTONS
.button {
  display: inline-block;
  margin: 0;
  padding: 1rem 1.2rem;
  border-radius: 32px;
  font-family: $font-main;
  font-weight: 700;
  text-decoration: none;
}

.button-link {
  display: inline-block;
  margin: 0;
  padding: 1rem 1.2rem;
  color: map.get($theme-colors, 'dark-blue');
  font-family: $font-secondary;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
}

.button-primary {
  background: generateGradientMain(to right);
  color: map.get($theme-colors, 'white');
}

.button-secondary {
  background-color: map.get($theme-colors, 'white');
  color: map.get($theme-colors, 'primary');
  transition: .4s background-color ease;

  &:hover {
    background-color: map.get($theme-colors, 'peach');
    color: map.get($theme-colors, 'white');
  }
}

.button-outline {
  padding: 1rem 1.6rem;
  color: map.get($theme-colors, 'white');
  border: 1px solid map.get($theme-colors, 'white');
  transition: .4s background-color ease;

  &:hover {
    background-color: map.get($theme-colors, 'white');
    color: map.get($theme-colors, 'primary');
  }
}

.link-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  position: relative;
  min-height: 150px;

  .nav-hamburger {
    width: 50px;
    height: 50px;
    margin-right: -.6rem;
    background-image: url(../images/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .nav-menu {
    display: none;
    flex-flow: column wrap;
    gap: 1rem;
    position: absolute;
    top: 125px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 2rem 1.4rem;
    background-color: map.get($theme-colors, 'white');
    border-radius: 5px;
    box-shadow: 0 16px 32px 4px rgba(0, 0, 0, 0.20);
    text-align: center;
    z-index: 998;

    a {
      text-decoration: none;
    }

    .nav-links {
      display: flex;
      flex-flow: column wrap;
      gap: 1.4rem;
      margin: 0;
      padding: 0;
      list-style: none;

      &:nth-last-of-type(1) {
        gap: 0;

        .button-link,
        .button-primary {
          padding: 1rem 2.8rem;
        }
      }

      .dropdown-link {

        &.active {

          > a {
            color: map.get($theme-colors, 'dark-grayish-blue');

            &::after {
              transform: rotate(180deg);
            }
          }

          .dropdown-menu {
            display: block;
          }
        }

        > a {
          color: map.get($theme-colors, 'dark-blue');
          font-size: 1.2rem;
          font-weight: 700;

          &::after {
            content: url(../images/icon-arrow-dark.svg);
            display: inline-block;
            margin-left: .4rem;
            transition: .2s transform ease;
          }
        }

        .dropdown-menu {
          display: none;
          margin: 1.4rem 0 0;
          padding: 1.4rem;
          background-color: map.get($theme-colors, 'light-gray');
          border-radius: 5px;
          list-style: none;
    
          li {
    
            a {
              display: block;
              padding: .6rem;
              color: map.get($theme-colors, 'dark-grayish-blue');
              font-size: 1.1rem;
              font-weight: 700;
              transition: .4s color ease;

              &:hover {
                color: #000;
              }
            }
          }
        }
      }
    }

    .line {
      width: 100%;
      height: 1px;
      border-top: 1px solid map.get($theme-colors, 'grayish-blue');
    }
  }
}

#hero-section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  background-image: url(../images/bg-pattern-intro-mobile.svg), $gradient-main;
  background-repeat: no-repeat;
  background-position: 35% 32%, top left;
  border-radius: 0 0 0 100px;
  color: map.get($theme-colors, 'white');
  text-align: center;

  h1 {
    color: map.get($theme-colors, 'white');
  }

  p {
    font-size: 1.2rem;
    color: map.get($theme-colors, 'white');
    opacity: 80%;
  }

  .link-group {
    margin-top: 3rem;
  }
}

#design-for-the-future-section {
  padding: 4rem 0 14rem;

  .feature-image {
    background-image: url(../images/illustration-editor-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
}

#design-for-the-future-2-section {
  padding: 4rem 0 6rem;
  
  .feature-image {
    background-image: url(../images/illustration-laptop-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
}

.feature-section {
  text-align: center;
  overflow: hidden;

  .features {
    display: flex;
    flex-flow: column wrap;
    gap: .4rem;
  
    .feature {
  
      h3 {
        font-size: 1.7rem;
        margin-bottom: 1rem;
      }
    }
  }

  .feature-image {
    margin: 1rem -1.4rem;
    max-width: 100vw;
    min-height: 300px;

    img {
      margin: 0 auto;
      max-width: 100vw;
    }
  }
}

#state-of-the-art-infrastructure-section {
  padding: 13rem 0 6rem;
  background-image: url(../images/bg-pattern-circles.svg);
  background-position: 50% -200px;
  background-size: 160vw auto;
  background-repeat: no-repeat;
  background-color: map.get($theme-colors, 'dark-violet');
  border-radius: 0 100px 0 100px;
  text-align: center;

  h2 {
    color: map.get($theme-colors, 'white');
    font-size: 2.2rem;
  }

  p {
    color: map.get($theme-colors, 'white');
    opacity: 80%;
  }

  .section-image {
    position: relative;
    max-width: 100%;
    margin: 0 -1.4rem;
    text-align: center;

    img {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: 100vw;
      max-height: 450px;
      margin: 0 auto;
    }
  }
}

footer {
  padding: 6rem 0 4rem;
  background-color: map.get($theme-colors, 'dark-black-blue');
  border-radius: 0 100px 0 0;
  text-align: center;

  .columns {
    gap: 3rem;
  }

  .footer-brand {
    margin-bottom: 2rem;
  }

  .footer-menu {

    h6 {
      margin: 0 0 2rem;
      font-size: 1.2rem;
      color: map.get($theme-colors, 'white');
    }

    .footer-links {
      margin: 0;
      padding: 0;
      list-style: none;

      li {

        a {
          display: inline-block;
          padding: .3rem 0;
          color: map.get($theme-colors, 'grayish-blue');
          font-size: 1.2rem;
          text-decoration: none;
        }
      }
    }
  }

  .footer-attribution {
    margin-top: 4rem;
    color: map.get($theme-colors, 'white');
    font-size: 11px;
    text-align: center; 
    
    a {
      color: map.get($theme-colors, 'primary');
    }
  }
}

@media (min-width: 320px) {
  h1, h2, h3, h4, h5, h6 {
    word-break: normal;
  }
}

@media (min-width: 425px) {

  #state-of-the-art-infrastructure-section {
    padding: 15rem 0 6rem;
    background-position: center;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.4rem;
    line-height: 4rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  #state-of-the-art-infrastructure-section {

    .section-content {
      padding: 0 10rem;

      h2 {
        font-size: 2.4rem;
      }
    }
  }

  .features {

    .feature {
      padding: 0 10rem;
    }
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }

  .columns {
    flex-flow: row nowrap;
  }

  .nav {
    height: 200px;

    .nav-brand {
      width: 120px;
    }

    .nav-hamburger {
      display: none;
    }

    .nav-menu {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      position: initial;
      padding: 0;
      background: none;
      border-radius: 0;
      box-shadow: none;
      text-align: left;

      .nav-links {
        flex-flow: row nowrap;
        align-items: center;
        gap: 2rem;

        &:nth-last-of-type(1) {
          gap: 1rem;

          .button-link {
            padding: 1rem;
            color: map.get($theme-colors, 'white');
            opacity: 80%;

            &:hover {
              opacity: 100%;
            }
          }

          .button-primary {
            background: map.get($theme-colors, 'white');
            color: map.get($theme-colors, 'primary');
            font-size: 1.1rem;
            transition: .4s background-color ease;

            &:hover {
              background: map.get($theme-colors, 'peach');
              color: map.get($theme-colors, 'white');
            }
          }
        }

        .dropdown-link {
          position: relative;

          &.active {

            > a {
              color: map.get($theme-colors, 'white');
              text-decoration: underline;
              opacity: 100%;
            }
          }

          > a {
            color: map.get($theme-colors, 'white');
            opacity: 80%;

            &:hover {
              text-decoration: 2px underline;
              opacity: 100%;
            }

            &::after {
              content: url(../images/icon-arrow-light.svg);
            }
          }

          .dropdown-menu {
            position: absolute;
            left: -2rem;
            background-color: map.get($theme-colors, 'white');
            box-shadow: 1px 1px 32px 4px rgba(0, 0, 0, 0.10);
    
            li {
    
              a {
                padding-right: 6rem;
              }
            }
          }
        }
      }

      .line {
        display: none;
      }
    }
  }

  #hero-section {
    min-height: 720px;
    background-image: url(../images/bg-pattern-intro-desktop.svg), $gradient-main;
    background-repeat: no-repeat;
    background-position: 30% 55%, top left;
    background-size: 240% auto;

    p {
      font-size: 1.4rem;
    }
  }

  #design-for-the-future-section {
    padding: 10rem 0 12rem;

    .feature-image {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      background-image: url(../images/illustration-editor-desktop.svg);
      background-position: center right;
      transform: translate(25%, -40%);
    }
  }

  #design-for-the-future-2-section {
    padding: 16rem 0;

    .columns {
      flex-direction: row-reverse;
    }

    .feature-image {
      position: absolute;
      top: 50%;
      left: 50%;
      right: 0;
      background-image: url(../images/illustration-laptop-desktop.svg);
      background-position: center left;
      transform: translate(-80%, -50%);
    }
  }

  .feature-section {
    text-align: left;
    position: relative;

    .columns {
      align-items: center;
      gap: 4rem;

      .column {
        flex: .5;
      }
    }

    h2 {
      margin-bottom: 6rem;
      text-align: center;
    }

    .features {

      .feature {
        padding: 0;
      }
    }

    .feature-image {
      margin: 0 -1.4rem;
      width: 100vw;
      min-height: 700px;
      z-index: -999;
    }
  }

  #state-of-the-art-infrastructure-section {
    min-height: 400px;
    padding: 6rem 0;
    background-size: 60%;
    background-position: -30% 70%;
    text-align: left;

    h2 {
      margin: 0 0 1rem;
    }

    p {
      margin-bottom: 0;
    }

    .columns {
      align-items: center;
    }

    .section-content {
      flex: 1;
      padding: 0;
    }

    .section-image {
      margin: 0;

      img {
        top: 0;
        margin: 0;
        transform: translateY(-50%) scale(125%);
      }
    }
  }

  footer {
    text-align: left;

    .footer-menu {

      h6 {
        margin-top: .8rem;
        font-size: 1.1rem;
      }

      .footer-links {

        li {
  
          a {
            padding: .6rem 0;

            &:hover {
              text-decoration: 2px underline;
            }
          }
        }
      }
    } 
  }
}

@media (min-width: 1440px) {
  #design-for-the-future-section {

    .feature-image {
      transform: translate(5%, -40%);
    }
  }

  #design-for-the-future-2-section {

    .feature-image {
      transform: translate(-60%, -50%);
    }
  }

  .feature-section {

    .feature-image {
      max-width: 1440px;
      margin: 0 auto;
    }
  }

  #state-of-the-art-infrastructure-section {
    background-position: -32% 84%;
    
    .section-image {
      transform: translateY(-50%) scale(115%);
    }
  }
}