@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
  font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #1e202a;
}

h1 {
  font-size: 1.5rem;
}

p,
label {
  color: #63687e;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.4rem;
}

.divider {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #1e202a;
}

.button-toggle {
  appearance: none;
  width: 50px;
  margin: 0;
  padding: 4px;
  background-color: #aeb3cb;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
}
.button-toggle::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin: 0;
  background-color: #fff;
  border-radius: 100%;
  transform: translateX(100%);
  transition: 0.2s transform ease;
}
.button-toggle:checked::before {
  background-color: #1e202a;
  transform: translateX(0%);
}
.button-toggle:hover, .button-toggle:checked {
  background-image: linear-gradient(to right, #198ff5, #1db489);
}

#social-media-dashboard-section {
  padding: 2.4rem 0;
}
#social-media-dashboard-section #dashboard-nav__social-media {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}
#social-media-dashboard-section #dashboard-nav__social-media .dashboard-nav__header {
  flex: 1;
}
#social-media-dashboard-section #dashboard-nav__social-media .dashboard-nav__header h1 {
  margin: 0;
}
#social-media-dashboard-section #dashboard-nav__social-media .dashboard-nav__header p {
  margin: 0.4rem 0;
  font-size: 0.9rem;
  font-weight: 700;
}
#social-media-dashboard-section #dashboard-nav__social-media .divider {
  flex: 1;
  width: 100%;
}
#social-media-dashboard-section #dashboard-nav__social-media .dashboard-nav__controls {
  flex: 1;
}
#social-media-dashboard-section #dashboard-nav__social-media .dashboard-nav__controls .theme-switch {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
#social-media-dashboard-section #dashboard-nav__social-media .dashboard-nav__controls .theme-switch label {
  font-size: 0.9rem;
  font-weight: 700;
}

.dashboard-overview {
  display: grid;
  gap: 1.4rem;
  padding: 2rem 0;
}

.card-overview {
  position: relative;
  padding: 2rem;
  background-color: #f5f7ff;
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}
.card-overview:hover {
  background-color: #f0f2fa;
}
.card-overview .card-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: pink;
}
.card-overview .card-border.card-border__facebook {
  background-color: #198ff5;
}
.card-overview .card-border.card-border__twitter {
  background-color: #1ca0f2;
}
.card-overview .card-border.card-border__instagram {
  background-image: linear-gradient(to right, #fdc468, #df4996);
}
.card-overview .card-border.card-border__youtube {
  background-color: #c4032a;
}
.card-overview .card-overview__social-media {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.2rem;
}
.card-overview .card-overview__social-media p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 700;
}
.card-overview .card-overview__followers-count {
  margin: 0;
  font-size: 3.6rem;
  font-weight: 700;
  color: #1e202a;
}
.card-overview > p:not(.card-overview__followers-count) {
  margin: 0;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.card-overview .card-overview__increase {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  margin-top: 1.4rem;
}
.card-overview .card-overview__increase small {
  font-weight: 700;
  font-size: 0.8rem;
}
.card-overview .card-overview__increase small.count-increment {
  color: #1db489;
}
.card-overview .card-overview__increase small.count-decrement {
  color: #dc414c;
}

.dashboard-overview__today h2 {
  color: #63687e;
}
.dashboard-overview__today .card-overview-today {
  display: grid;
  gap: 1rem;
}

.card-overview__today {
  display: flex;
  flex-flow: column wrap;
  gap: 1.6rem;
  padding: 1.6rem;
  background-color: #f5f7ff;
  border-radius: 6px;
  cursor: pointer;
}
.card-overview__today:hover {
  background-color: #f0f2fa;
}
.card-overview__today .card-overview__title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.card-overview__today .card-overview__title > p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 700;
}
.card-overview__today .card-overview__stats {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
}
.card-overview__today .card-overview__stats > p {
  margin: 0;
  color: #1e202a;
  font-size: 2rem;
  font-weight: 700;
}
.card-overview__today .card-overview__stats .card-overview__count-percentage {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.2rem;
}
.card-overview__today .card-overview__stats .card-overview__count-percentage small {
  font-weight: 700;
}
.card-overview__today .card-overview__stats .card-overview__count-percentage small.count-increment {
  color: #1db489;
}
.card-overview__today .card-overview__stats .card-overview__count-percentage small.count-decrement {
  color: #dc414c;
}

footer {
  padding: 2rem 0;
}
footer .attribution {
  font-size: 11px;
  text-align: center;
}
footer .attribution a {
  color: #3e52a3;
}

.theme-dark {
  background-color: #1e202a;
}
.theme-dark h1, .theme-dark h2, .theme-dark h3, .theme-dark h4, .theme-dark h5, .theme-dark h6 {
  color: white;
}
.theme-dark p,
.theme-dark label {
  color: #8b97c6;
}
.theme-dark .divider {
  border-color: #252a41;
}
.theme-dark .card-overview {
  background-color: #252a41;
}
.theme-dark .card-overview:hover {
  background-color: #1f212e;
}
.theme-dark .card-overview .card-overview__followers-count {
  color: white;
}
.theme-dark .card-overview__today {
  background-color: #252a41;
}
.theme-dark .card-overview__today:hover {
  background-color: #1f212e;
}
.theme-dark .card-overview__today .card-overview__stats > p {
  color: white;
}
.theme-dark footer .attribution {
  color: white;
}
.theme-dark footer .attribution a {
  color: #8b97c6;
}

@media (min-width: 768px) {
  #social-media-dashboard-section #dashboard-nav__social-media {
    flex-flow: row nowrap;
    align-items: center;
  }
  #social-media-dashboard-section #dashboard-nav__social-media .dashboard-nav__controls .theme-switch {
    justify-content: flex-end;
  }
  #social-media-dashboard-section #dashboard-nav__social-media .divider {
    display: none;
  }

  .dashboard-overview {
    grid-template-columns: 1fr 1fr;
  }

  .card-overview-today {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  #social-media-dashboard-section #dashboard-nav__social-media .dashboard-nav__header {
    flex-flow: row wrap;
    align-items: center;
  }
  #social-media-dashboard-section #dashboard-nav__social-media .divider {
    display: none;
  }
  .dashboard-overview {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .card-overview-today {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
