@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
  font-family: "Overpass", sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #1f3f5b;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  word-break: break-all;
}

h1 {
  font-size: 2.2rem;
  line-height: 3rem;
}

h2 {
  font-size: 1.7rem;
}

p {
  color: #4b5862;
  font-size: 17px;
  letter-spacing: 0.6px;
  line-height: 1.8rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.4rem;
}

.columns {
  display: flex;
  flex-flow: column wrap;
}
.columns .column {
  flex: 1;
}

.button {
  display: inline-block;
  margin: 0;
  padding: 1rem 1.2rem;
  border-radius: 32px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.button-link {
  display: inline-block;
  margin: 0;
  padding: 1rem 1.2rem;
  color: #1f3f5b;
  font-family: "Overpass", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
}

.button-primary {
  background: linear-gradient(to right, #ff8f70, #ff3d54);
  color: white;
}

.button-secondary {
  background-color: white;
  color: #ff525d;
  transition: 0.4s background-color ease;
}
.button-secondary:hover {
  background-color: #ff7986;
  color: white;
}

.button-outline {
  padding: 1rem 1.6rem;
  color: white;
  border: 1px solid white;
  transition: 0.4s background-color ease;
}
.button-outline:hover {
  background-color: white;
  color: #ff525d;
}

.link-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  position: relative;
  min-height: 150px;
}
.nav .nav-hamburger {
  width: 50px;
  height: 50px;
  margin-right: -0.6rem;
  background-image: url(../images/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.nav .nav-menu {
  display: none;
  flex-flow: column wrap;
  gap: 1rem;
  position: absolute;
  top: 125px;
  left: 0;
  right: 0;
  width: 100%;
  padding: 2rem 1.4rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 16px 32px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 998;
}
.nav .nav-menu a {
  text-decoration: none;
}
.nav .nav-menu .nav-links {
  display: flex;
  flex-flow: column wrap;
  gap: 1.4rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav .nav-menu .nav-links:nth-last-of-type(1) {
  gap: 0;
}
.nav .nav-menu .nav-links:nth-last-of-type(1) .button-link,
.nav .nav-menu .nav-links:nth-last-of-type(1) .button-primary {
  padding: 1rem 2.8rem;
}
.nav .nav-menu .nav-links .dropdown-link.active > a {
  color: #4b5862;
}
.nav .nav-menu .nav-links .dropdown-link.active > a::after {
  transform: rotate(180deg);
}
.nav .nav-menu .nav-links .dropdown-link.active .dropdown-menu {
  display: block;
}
.nav .nav-menu .nav-links .dropdown-link > a {
  color: #1f3f5b;
  font-size: 1.2rem;
  font-weight: 700;
}
.nav .nav-menu .nav-links .dropdown-link > a::after {
  content: url(../images/icon-arrow-dark.svg);
  display: inline-block;
  margin-left: 0.4rem;
  transition: 0.2s transform ease;
}
.nav .nav-menu .nav-links .dropdown-link .dropdown-menu {
  display: none;
  margin: 1.4rem 0 0;
  padding: 1.4rem;
  background-color: #efeff1;
  border-radius: 5px;
  list-style: none;
}
.nav .nav-menu .nav-links .dropdown-link .dropdown-menu li a {
  display: block;
  padding: 0.6rem;
  color: #4b5862;
  font-size: 1.1rem;
  font-weight: 700;
  transition: 0.4s color ease;
}
.nav .nav-menu .nav-links .dropdown-link .dropdown-menu li a:hover {
  color: #000;
}
.nav .nav-menu .line {
  width: 100%;
  height: 1px;
  border-top: 1px solid #c8c8cb;
}

#hero-section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  background-image: url(../images/bg-pattern-intro-mobile.svg), linear-gradient(180deg, #ff8f70, #ff3d54);
  background-repeat: no-repeat;
  background-position: 35% 32%, top left;
  border-radius: 0 0 0 100px;
  color: white;
  text-align: center;
}
#hero-section h1 {
  color: white;
}
#hero-section p {
  font-size: 1.2rem;
  color: white;
  opacity: 80%;
}
#hero-section .link-group {
  margin-top: 3rem;
}

#design-for-the-future-section {
  padding: 4rem 0 14rem;
}
#design-for-the-future-section .feature-image {
  background-image: url(../images/illustration-editor-mobile.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

#design-for-the-future-2-section {
  padding: 4rem 0 6rem;
}
#design-for-the-future-2-section .feature-image {
  background-image: url(../images/illustration-laptop-mobile.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.feature-section {
  text-align: center;
  overflow: hidden;
}
.feature-section .features {
  display: flex;
  flex-flow: column wrap;
  gap: 0.4rem;
}
.feature-section .features .feature h3 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
.feature-section .feature-image {
  margin: 1rem -1.4rem;
  max-width: 100vw;
  min-height: 300px;
}
.feature-section .feature-image img {
  margin: 0 auto;
  max-width: 100vw;
}

#state-of-the-art-infrastructure-section {
  padding: 13rem 0 6rem;
  background-image: url(../images/bg-pattern-circles.svg);
  background-position: 50% -200px;
  background-size: 160vw auto;
  background-repeat: no-repeat;
  background-color: #3b3e5d;
  border-radius: 0 100px 0 100px;
  text-align: center;
}
#state-of-the-art-infrastructure-section h2 {
  color: white;
  font-size: 2.2rem;
}
#state-of-the-art-infrastructure-section p {
  color: white;
  opacity: 80%;
}
#state-of-the-art-infrastructure-section .section-image {
  position: relative;
  max-width: 100%;
  margin: 0 -1.4rem;
  text-align: center;
}
#state-of-the-art-infrastructure-section .section-image img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100vw;
  max-height: 450px;
  margin: 0 auto;
}

footer {
  padding: 6rem 0 4rem;
  background-color: #25252d;
  border-radius: 0 100px 0 0;
  text-align: center;
}
footer .columns {
  gap: 3rem;
}
footer .footer-brand {
  margin-bottom: 2rem;
}
footer .footer-menu h6 {
  margin: 0 0 2rem;
  font-size: 1.2rem;
  color: white;
}
footer .footer-menu .footer-links {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .footer-menu .footer-links li a {
  display: inline-block;
  padding: 0.3rem 0;
  color: #c8c8cb;
  font-size: 1.2rem;
  text-decoration: none;
}
footer .footer-attribution {
  margin-top: 4rem;
  color: white;
  font-size: 11px;
  text-align: center;
}
footer .footer-attribution a {
  color: #ff525d;
}

@media (min-width: 320px) {
  h1, h2, h3, h4, h5, h6 {
    word-break: normal;
  }
}
@media (min-width: 425px) {
  #state-of-the-art-infrastructure-section {
    padding: 15rem 0 6rem;
    background-position: center;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.4rem;
    line-height: 4rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  #state-of-the-art-infrastructure-section .section-content {
    padding: 0 10rem;
  }
  #state-of-the-art-infrastructure-section .section-content h2 {
    font-size: 2.4rem;
  }

  .features .feature {
    padding: 0 10rem;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }

  .columns {
    flex-flow: row nowrap;
  }

  .nav {
    height: 200px;
  }
  .nav .nav-brand {
    width: 120px;
  }
  .nav .nav-hamburger {
    display: none;
  }
  .nav .nav-menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    position: initial;
    padding: 0;
    background: none;
    border-radius: 0;
    box-shadow: none;
    text-align: left;
  }
  .nav .nav-menu .nav-links {
    flex-flow: row nowrap;
    align-items: center;
    gap: 2rem;
  }
  .nav .nav-menu .nav-links:nth-last-of-type(1) {
    gap: 1rem;
  }
  .nav .nav-menu .nav-links:nth-last-of-type(1) .button-link {
    padding: 1rem;
    color: white;
    opacity: 80%;
  }
  .nav .nav-menu .nav-links:nth-last-of-type(1) .button-link:hover {
    opacity: 100%;
  }
  .nav .nav-menu .nav-links:nth-last-of-type(1) .button-primary {
    background: white;
    color: #ff525d;
    font-size: 1.1rem;
    transition: 0.4s background-color ease;
  }
  .nav .nav-menu .nav-links:nth-last-of-type(1) .button-primary:hover {
    background: #ff7986;
    color: white;
  }
  .nav .nav-menu .nav-links .dropdown-link {
    position: relative;
  }
  .nav .nav-menu .nav-links .dropdown-link.active > a {
    color: white;
    text-decoration: underline;
    opacity: 100%;
  }
  .nav .nav-menu .nav-links .dropdown-link > a {
    color: white;
    opacity: 80%;
  }
  .nav .nav-menu .nav-links .dropdown-link > a:hover {
    text-decoration: 2px underline;
    opacity: 100%;
  }
  .nav .nav-menu .nav-links .dropdown-link > a::after {
    content: url(../images/icon-arrow-light.svg);
  }
  .nav .nav-menu .nav-links .dropdown-link .dropdown-menu {
    position: absolute;
    left: -2rem;
    background-color: white;
    box-shadow: 1px 1px 32px 4px rgba(0, 0, 0, 0.1);
  }
  .nav .nav-menu .nav-links .dropdown-link .dropdown-menu li a {
    padding-right: 6rem;
  }
  .nav .nav-menu .line {
    display: none;
  }

  #hero-section {
    min-height: 720px;
    background-image: url(../images/bg-pattern-intro-desktop.svg), linear-gradient(180deg, #ff8f70, #ff3d54);
    background-repeat: no-repeat;
    background-position: 30% 55%, top left;
    background-size: 240% auto;
  }
  #hero-section p {
    font-size: 1.4rem;
  }

  #design-for-the-future-section {
    padding: 10rem 0 12rem;
  }
  #design-for-the-future-section .feature-image {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    background-image: url(../images/illustration-editor-desktop.svg);
    background-position: center right;
    transform: translate(25%, -40%);
  }

  #design-for-the-future-2-section {
    padding: 16rem 0;
  }
  #design-for-the-future-2-section .columns {
    flex-direction: row-reverse;
  }
  #design-for-the-future-2-section .feature-image {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    background-image: url(../images/illustration-laptop-desktop.svg);
    background-position: center left;
    transform: translate(-80%, -50%);
  }

  .feature-section {
    text-align: left;
    position: relative;
  }
  .feature-section .columns {
    align-items: center;
    gap: 4rem;
  }
  .feature-section .columns .column {
    flex: 0.5;
  }
  .feature-section h2 {
    margin-bottom: 6rem;
    text-align: center;
  }
  .feature-section .features .feature {
    padding: 0;
  }
  .feature-section .feature-image {
    margin: 0 -1.4rem;
    width: 100vw;
    min-height: 700px;
    z-index: -999;
  }

  #state-of-the-art-infrastructure-section {
    min-height: 400px;
    padding: 6rem 0;
    background-size: 60%;
    background-position: -30% 70%;
    text-align: left;
  }
  #state-of-the-art-infrastructure-section h2 {
    margin: 0 0 1rem;
  }
  #state-of-the-art-infrastructure-section p {
    margin-bottom: 0;
  }
  #state-of-the-art-infrastructure-section .columns {
    align-items: center;
  }
  #state-of-the-art-infrastructure-section .section-content {
    flex: 1;
    padding: 0;
  }
  #state-of-the-art-infrastructure-section .section-image {
    margin: 0;
  }
  #state-of-the-art-infrastructure-section .section-image img {
    top: 0;
    margin: 0;
    transform: translateY(-50%) scale(125%);
  }

  footer {
    text-align: left;
  }
  footer .footer-menu h6 {
    margin-top: 0.8rem;
    font-size: 1.1rem;
  }
  footer .footer-menu .footer-links li a {
    padding: 0.6rem 0;
  }
  footer .footer-menu .footer-links li a:hover {
    text-decoration: 2px underline;
  }
}
@media (min-width: 1440px) {
  #design-for-the-future-section .feature-image {
    transform: translate(5%, -40%);
  }

  #design-for-the-future-2-section .feature-image {
    transform: translate(-60%, -50%);
  }

  .feature-section .feature-image {
    max-width: 1440px;
    margin: 0 auto;
  }

  #state-of-the-art-infrastructure-section {
    background-position: -32% 84%;
  }
  #state-of-the-art-infrastructure-section .section-image {
    transform: translateY(-50%) scale(115%);
  }
}

/*# sourceMappingURL=style.css.map */
