@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
}

h1, h2, h3, h4, h5, h6,
b {
  color: #293356;
  font-weight: 800;
}

p,
small {
  color: #858fad;
  font-size: 15px;
  font-weight: 600;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.4rem;
}

.divider {
  min-width: 100%;
  height: 1px;
  margin: 2rem 0;
  background-color: #eaeefb;
}

.button {
  padding: 0.8rem 2.8rem;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
}

.button-primary {
  background-color: #293356;
  border-radius: 32px;
  color: #bdccff;
}
.button-primary:hover {
  color: white;
}

.toggle-button {
  appearance: none;
  width: 45px;
  margin: 0;
  padding: 4px;
  background-color: #cdd7ee;
  border-radius: 32px;
  cursor: pointer;
  transition: 0.2s background-color ease;
}
.toggle-button::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin: 0;
  background-color: white;
  border-radius: 100%;
  transition: 0.2s transform ease;
}
.toggle-button:hover {
  background-color: #a5f3eb;
}
.toggle-button:checked {
  background-color: #10d5c2;
}
.toggle-button:checked::before {
  transform: translateX(125%);
}

.input-range {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background-color: #eaeefb;
  border-radius: 32px;
  cursor: pointer;
}
.input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  background-image: url(../images/icon-slider.svg);
  background-color: #10d5c2;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
}

.flare {
  padding: 0.2rem 0.6rem;
  background-color: #feece7;
  border-radius: 24px;
  color: #ff8c66;
  font-size: 0.7rem;
  font-weight: 800;
}

#interactive-pricing__section {
  min-height: 100vh;
  padding: 2rem 0;
  background-image: url(../images/bg-pattern.svg);
  background-color: #fafbff;
  background-repeat: no-repeat;
  background-size: auto 50%;
}
#interactive-pricing__section .interactive-pricing__header {
  padding: 2rem 0;
  background-image: url(../images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
#interactive-pricing__section .interactive-pricing__header h1 {
  font-size: 1.2rem;
}
#interactive-pricing__section .interactive-pricing__header p {
  width: 64%;
  margin: 0 auto;
}
#interactive-pricing__section .interactive-pricing__panel {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  max-width: 540px;
  margin: 2rem auto;
  padding: 2rem 1.4rem;
  background-color: white;
  border-radius: 12px;
  text-align: center;
}
#interactive-pricing__section .interactive-pricing__panel .interactive-pricing__grid {
  display: grid;
  gap: 1.4rem;
}
#interactive-pricing__section .interactive-pricing__panel .interactive-pricing__grid .interactive-pricing__head {
  font-size: 0.8rem;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#interactive-pricing__section .interactive-pricing__panel .interactive-pricing__grid .interactive-pricing__head b {
  color: #858fad;
}
#interactive-pricing__section .interactive-pricing__panel .interactive-pricing__grid #pricing-options__range {
  display: block;
  width: 100%;
}
#interactive-pricing__section .interactive-pricing__panel .interactive-pricing__grid .interactive-pricing__price {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
#interactive-pricing__section .interactive-pricing__panel .interactive-pricing__grid .interactive-pricing__price b {
  font-size: 2rem;
}
#interactive-pricing__section .interactive-pricing__panel .interactive-pricing__grid .interactive-pricing__billing-options {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}
#interactive-pricing__section .interactive-pricing__panel .interactive-pricing__grid .interactive-pricing__billing-options p {
  margin: 0;
  font-size: 0.8rem;
}
#interactive-pricing__section .interactive-pricing__panel .interactive-pricing__grid .interactive-pricing__billing-options p:nth-of-type(2) {
  position: relative;
}
#interactive-pricing__section .interactive-pricing__panel .interactive-pricing__grid .interactive-pricing__billing-options p:nth-of-type(2) span {
  position: absolute;
  top: 125%;
  left: 25%;
}
#interactive-pricing__section .interactive-pricing__panel .interactive-pricing__grid .flare em {
  display: none;
  font-style: normal;
}
#interactive-pricing__section .interactive-pricing__panel .interactive-pricing__features {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}
#interactive-pricing__section .interactive-pricing__panel .interactive-pricing__features .features {
  margin: 0;
  padding: 0;
  color: #858fad;
  font-size: 0.8rem;
  font-weight: 600;
  list-style-image: url(../images/icon-check.svg);
  list-style-position: inside;
}
#interactive-pricing__section .interactive-pricing__panel .interactive-pricing__features .features li {
  padding: 0.4rem;
}
#interactive-pricing__section .interactive-pricing__panel .interactive-pricing__features .features li::marker {
  margin: 2rem;
}
#interactive-pricing__section .interactive-pricing__panel .divider {
  width: 100%;
  margin: 2rem -1.4rem;
  transform: scaleX(100%);
}
#interactive-pricing__section .input-group {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
#interactive-pricing__section .input-group label {
  display: none;
}

footer {
  padding: 2rem 0;
}
footer .attribution {
  font-size: 11px;
  text-align: center;
}
footer .attribution a {
  color: #3e52a3;
}

@media (min-width: 425px) {
  #interactive-pricing__section {
    background-size: 100% 50%;
  }
  #interactive-pricing__section .interactive-pricing__panel .interactive-pricing__grid .interactive-pricing__billing-options p:nth-of-type(2) span {
    top: 0;
    left: 110%;
  }
}
@media (min-width: 768px) {
  #interactive-pricing__section .interactive-pricing__header h1 {
    font-size: 2rem;
  }
  #interactive-pricing__section .interactive-pricing__panel {
    padding: 3.4rem 3.4rem 2rem;
    text-align: left;
  }
  #interactive-pricing__section .interactive-pricing__panel .interactive-pricing__grid {
    grid-template-columns: 1 1;
    grid-template-rows: 1 1 1;
    row-gap: 2.8rem;
    width: 100%;
  }
  #interactive-pricing__section .interactive-pricing__panel .interactive-pricing__grid .interactive-pricing__head {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: start;
    font-size: 0.9rem;
  }
  #interactive-pricing__section .interactive-pricing__panel .interactive-pricing__grid .interactive-pricing__price {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: end;
  }
  #interactive-pricing__section .interactive-pricing__panel .interactive-pricing__grid .interactive-pricing__price b {
    font-size: 2.8rem;
  }
  #interactive-pricing__section .interactive-pricing__panel .interactive-pricing__grid .interactive-pricing__billing-options {
    grid-column: 2 span;
    grid-row: 3;
  }
  #interactive-pricing__section .interactive-pricing__panel .interactive-pricing__grid .interactive-pricing__billing-options p:nth-of-type(2) span {
    display: inline;
    top: 0;
    left: 115%;
  }
  #interactive-pricing__section .interactive-pricing__panel .interactive-pricing__grid .interactive-pricing__billing-options p:nth-of-type(2) span em {
    display: inline;
  }
  #interactive-pricing__section .interactive-pricing__panel .interactive-pricing__grid > .input-group {
    grid-column: 2 span;
    grid-row: 2;
  }
  #interactive-pricing__section .interactive-pricing__panel .interactive-pricing__features {
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: initial;
  }
}

/*# sourceMappingURL=style.css.map */
