@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
@import url(animations.css);
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: hsl(229deg, 31%, 21%);
  font-weight: 500;
}

h1 {
  font-size: 1.9rem;
}

p {
  color: hsl(229deg, 8%, 60%);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6rem;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: calc(1145px + 2rem);
  margin: 0 auto;
  padding: 0 2rem;
}

.columns {
  display: flex;
  flex-flow: column wrap;
}
.columns > * {
  flex: 1;
}

.button {
  display: inline-block;
  padding: 1rem;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.button-primary {
  background-color: hsl(231deg, 69%, 60%);
  color: #fff;
}

.button-secondary {
  background-color: rgb(247, 247, 249);
  color: hsl(229deg, 31%, 21%);
}

.button-group {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

.input {
  margin: 0;
  padding: 1rem 1.4rem;
  border: none;
  border-radius: 6px;
  color: hsl(229deg, 31%, 21%);
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  outline: none;
}
.input::placeholder {
  color: hsl(229deg, 8%, 60%);
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

main {
  margin-top: 100px;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
}
.nav.nav-active .nav-brand > img {
  content: url(../images/logo-bookmark-white.svg);
}
.nav.nav-active .nav-hamburger {
  background-image: url(../images/icon-close.svg);
}
.nav.nav-active .nav-menu {
  transform: translateX(0);
}
.nav .nav-hamburger {
  width: 50px;
  height: 50px;
  margin-right: -0.8rem;
  background-image: url(../images/icon-hamburger.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  cursor: pointer;
}
.nav .nav-menu {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 6.5rem 2rem 4rem;
  background-color: hsla(229deg, 31%, 21%, 0.95);
  z-index: -999;
  transform: translateX(100%);
  transition: 0.4s transform ease;
}
.nav .nav-menu .nav-links {
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  padding: 0;
  border-top: 1px solid gray;
  list-style: none;
}
.nav .nav-menu .nav-links li a {
  display: block;
  padding: 1.4rem 2rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid gray;
}
.nav .nav-menu .nav-links li .button-link {
  margin-top: 1.4rem;
  padding: 0.8rem 2rem;
  border: 2px solid #fff;
  border-radius: 4px;
}
.nav .nav-menu .nav-socials {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

#hero-section {
  position: relative;
  padding: 2.4rem 0;
  text-align: center;
}
#hero-section::after {
  content: "";
  display: block;
  position: absolute;
  width: 300px;
  min-height: 200px;
  background-color: hsl(231deg, 69%, 60%);
  z-index: -999;
  border-radius: 128px 0 0 128px;
  right: 0;
  top: 12%;
}
#hero-section .columns {
  flex-direction: column-reverse;
}
#hero-section .content {
  max-width: 480px;
  margin: 0 auto;
  padding: 1.8rem 0;
}
#hero-section .content-image {
  margin: 0 -1.4rem;
  position: relative;
}

#features-section {
  position: relative;
  padding: 2.8rem 0;
  text-align: center;
}
#features-section .features .tabs {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  max-width: 730px;
  margin: 2rem auto;
  padding: 0;
  border-bottom: 1px solid gainsboro;
  list-style: none;
}
#features-section .features .tabs li {
  display: block;
  width: 100%;
}
#features-section .features .tabs .tab-button {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 1.2rem 2rem;
  background-color: transparent;
  border: none;
  border-top: 1px solid gainsboro;
  color: hsl(229deg, 8%, 60%);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  outline: none;
  cursor: pointer;
}
#features-section .features .tabs .tab-button::after {
  content: "";
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 40%;
  height: 4px;
  background-color: hsl(0deg, 94%, 66%);
  transform: translateX(-50%);
}
#features-section .features .tabs .tab-button.tab-active {
  color: hsl(229deg, 31%, 21%);
}
#features-section .features .tabs .tab-button.tab-active::after {
  display: block;
}
#features-section .features .tab-contents .tab-content {
  display: none;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
#features-section .features .tab-contents .tab-content.tab-active {
  display: flex;
}
#features-section .features .tab-contents .tab-content .tab-content__image {
  position: relative;
  margin: 0 -2rem;
  padding: 0 2rem;
}
#features-section .features .tab-contents .tab-content .tab-content__image::before {
  content: "";
  display: block;
  position: absolute;
  width: 300px;
  min-height: 200px;
  background-color: hsl(231deg, 69%, 60%);
  z-index: -999;
  border-radius: 0 128px 128px 0;
  left: 0;
  top: 16.5%;
}
#features-section .features .tab-contents .tab-content .tab-content__text {
  max-width: 440px;
  margin: 0 auto;
  padding: 3.2rem 0 2rem;
}
#features-section .features .tab-contents .tab-content .tab-content__text h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
#features-section .features .tab-contents .tab-content .tab-content__text a {
  display: none;
}

#downloads-section {
  padding: 2.2rem 0;
  text-align: center;
}
#downloads-section .container > h2,
#downloads-section .container > p {
  max-width: 550px;
  margin: 1.4rem auto;
}
#downloads-section .browsers {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 2rem 1rem;
}
#downloads-section .browsers .browser {
  width: 100%;
  max-width: 280px;
  padding: 1.6rem;
  box-shadow: 1px 16px 32px 0px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}
#downloads-section .browsers .browser h4 {
  margin-bottom: 0.6rem;
  font-size: 1.3rem;
}
#downloads-section .browsers .browser small {
  color: hsl(229deg, 8%, 60%);
  font-size: 15px;
}
#downloads-section .browsers .browser .divider {
  display: block;
  height: 5px;
  margin: 2.4rem -1.6rem 1.4rem;
  background-image: url(../images/bg-dots.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
#downloads-section .browsers .browser a {
  width: 100%;
}

#faq-section {
  padding: 3rem 0 9rem;
  text-align: center;
}
#faq-section .container {
  max-width: calc(540px + 2rem);
}
#faq-section .faqs {
  margin: 2rem auto;
  text-align: left;
}
#faq-section .faqs .faq {
  padding: 1.4rem 0;
  border-bottom: 1px solid gainsboro;
  cursor: pointer;
}
#faq-section .faqs .faq .faq__question {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
#faq-section .faqs .faq .faq__question h5 {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  flex: 1;
}
#faq-section .faqs .faq .faq__answer {
  display: none;
}
#faq-section .faqs .faq.faq-active .faq__question img {
  transform: rotate(180deg);
}
#faq-section .faqs .faq.faq-active .faq__answer {
  display: block;
}
#faq-section .button {
  padding: 1rem 1.5rem;
}

#mailing-list-section {
  padding: 4rem 0;
  background-color: hsl(231deg, 69%, 60%);
  text-align: center;
}
#mailing-list-section .container {
  max-width: calc(440px + 2rem);
}
#mailing-list-section h2 {
  color: #fff;
}
#mailing-list-section p {
  color: #fff;
  font-size: 13px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
#mailing-list-section .mailing-list__form {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}
#mailing-list-section .mailing-list__form .button {
  min-width: 130px;
  background-color: hsl(0deg, 94%, 66%);
  color: #fff;
  font-family: inherit;
}

footer {
  padding: 2.8rem 0;
  background-color: hsl(229deg, 31%, 21%);
  text-align: center;
}
footer .columns {
  gap: 2.4rem;
}
footer .footer-menu {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .footer-menu li a {
  display: block;
  padding: 0.4rem 1rem;
  color: #fff;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}
footer .footer-socials {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 2.8rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .footer-attribution {
  margin: 2rem 0 0;
  font-size: 11px;
  text-align: center;
}
footer .footer-attribution a {
  color: hsl(231deg, 69%, 60%);
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 18px;
    line-height: 1.8rem;
  }
  .button {
    padding: 1rem 1.6rem;
  }
  #features-section .container > h2,
#features-section .container > p {
    max-width: 540px;
    margin: 1.4rem auto;
  }
  #features-section .features .tabs {
    flex-flow: row nowrap;
  }
  #features-section .features .tabs .tab-button {
    border: none;
  }
  #features-section .features .tabs .tab-button::after {
    width: 100%;
  }
  #downloads-section .browsers {
    flex-flow: row nowrap;
    gap: 1rem;
    padding: 2rem 0;
  }
  #faq-section .faqs .faq .faq__question h5 {
    font-size: 18px;
  }
  #faq-section .faqs .faq .faq__answer {
    font-size: 1rem;
  }
  #mailing-list-section h2 {
    font-size: 2rem;
  }
  #mailing-list-section .mailing-list__form {
    flex-flow: row nowrap;
    justify-content: center;
  }
  #mailing-list-section .mailing-list__form .input {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
  }
  .columns {
    flex-flow: row wrap;
  }
  .button-group {
    justify-content: flex-start;
  }
  .nav {
    min-height: 140px;
  }
  .nav .nav-hamburger {
    display: none;
  }
  .nav .nav-menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: initial;
    position: initial;
    padding: 0;
    background: none;
    transform: translateX(0);
    z-index: initial;
  }
  .nav .nav-menu .nav-links {
    flex-flow: row nowrap;
    align-items: center;
    gap: 2.7rem;
    border: none;
  }
  .nav .nav-menu .nav-links li a {
    padding: 1rem 0;
    border: none;
    color: hsl(229deg, 31%, 21%);
    font-size: 0.8rem;
  }
  .nav .nav-menu .nav-links li .button-link {
    margin: 0;
    background-color: hsl(0deg, 94%, 66%);
    color: #fff;
    border-radius: 8px;
  }
  .nav .nav-menu .nav-socials {
    display: none;
  }
  #hero-section .columns {
    flex-flow: row nowrap;
    gap: 4rem;
  }
  #hero-section .content {
    text-align: left;
  }
  #hero-section .content-image {
    margin: 0;
    margin-right: -8rem;
  }
  #features-section .features .tab-contents .tab-content {
    flex-flow: row nowrap;
    align-items: flex-start;
    gap: 64;
    margin: 0;
    padding: 3.4rem 0;
  }
  #features-section .features .tab-contents .tab-content .tab-content__image {
    flex: 0.5;
  }
  #features-section .features .tab-contents .tab-content .tab-content__text {
    flex: 0.5;
    margin: 0;
    padding: 2rem 0;
    text-align: left;
  }
  #features-section .features .tab-contents .tab-content .tab-content__text h3 {
    margin-bottom: 1.4rem;
    font-size: 2rem;
  }
  #features-section .features .tab-contents .tab-content .tab-content__text p {
    margin-bottom: 1.8rem;
  }
  #features-section .features .tab-contents .tab-content .tab-content__text a {
    display: inline-block;
  }
  #downloads-section {
    padding: 7.2rem 0 8rem;
  }
  #downloads-section .browsers {
    gap: 2rem;
  }
  #downloads-section .browsers .browser:nth-of-type(2) {
    transform: translateY(32px);
  }
  #downloads-section .browsers .browser:nth-of-type(3) {
    transform: translateY(64px);
  }
  footer {
    text-align: left;
  }
  footer .columns {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 4.8rem;
  }
  footer .footer-brand {
    flex: none;
    padding-top: 0.2rem;
  }
  footer .footer-menu {
    flex-flow: row nowrap;
    flex: 1;
    gap: 2.8rem;
  }
  footer .footer-menu li a {
    padding: 0.4rem 0;
  }
  footer .footer-socials {
    justify-content: flex-end;
    flex: none;
  }
  footer .footer-attribution {
    text-align: left;
  }
}
@media screen and (min-width: 1440px) {
  h1 {
    font-size: 3rem;
  }
  #hero-section {
    padding: 6.2rem 0 2.4rem;
  }
  #hero-section .columns {
    gap: 4.4rem;
  }
  #features-section .features {
    margin-top: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
