@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: hsl(218, 28%, 13%);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
}

header {
    width: 100%;
    background-color: hsl(217, 28%, 15%);
}

img {
    width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 2rem;
}

p {
    color: whitesmoke;
    line-height: 1.4rem;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 1.4rem;
}

/* ---------- NAVIGATION ---------- */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

nav .nav-logo {
    width: 30%;
}

nav .nav-menu {
    color: white;
}

nav .nav-menu .nav-menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-menu .nav-menu-list .nav-item .nav-link {
    color: white;
    padding: .6rem;
}

nav .nav-menu .nav-menu-list .nav-item:last-of-type .nav-link {
    padding-right: 0;
}

/* ---------- CTA ---------- */
.cta {
    padding: 2rem 0 3rem;
    text-align: center;
    background: hsl(217, 28%, 15%) url('../images/bg-curvy-mobile.svg') bottom left no-repeat;
}

.cta p {
    margin: 0 1rem 3rem;
}

.btn-main-link {
    padding: .8rem 4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
    border-radius: 2rem;
    background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
}

/* ---------- FEATURES ---------- */
.features {
    padding: 2rem 0;
    text-align: center;
}

.features .feature-card {
    padding: 2rem 1rem;
}

.features .feature-card img {
    width: 64px;
}

/* ---------- STAY PRODUCTIVE ---------- */
.stay-productive {
    padding: 3rem 0;
}

.link-icon {
    display: flex;
    align-items: center;
}

.link-icon a {
    color: hsl(176, 68%, 64%);
    border-bottom: solid 1px hsl(176, 68%, 64%);
    display: flex;
    align-items: center;
}

.link-icon a img {
    width: 2rem;
    margin: .4rem 0 .4rem .8rem;
}

/* ---------- TESTIMONIALS ---------- */
.testimonials {
    padding: 3rem 1rem;
    background: url('../images/bg-quotes.png') 48px 28px no-repeat;
    background-size: 24px 24px;
}

.testimonial-card {
    margin-bottom: 1rem;
    padding: 1.6rem;
    background-color: hsl(219, 30%, 18%);
    border-radius: 5px;
    font-size: 13px;
}

.testimonial-card p {
    margin: 0 0 .6rem;
}

.testimonial-card .testimonial-author {
    display: flex;
    align-items: center;
}

.testimonial-card .testimonial-author img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    border-radius: 25px;
}

.testimonial-card .testimonial-author h4 {
    margin: 0;
    padding: 0;
}

.testimonial-card .testimonial-author p {
    margin: 0;
    font-size: 11px;
}

/* ---------- SUBSCRIBE ---------- */
.subscribe {
    padding: 4rem 0;
    text-align: center;
}

.subscribe .subscribe-panel {
    padding: 1rem 1.8rem 2rem;
    background-color: hsl(217, 28%, 15%);
    border-radius: 10px;
}

.subscribe .subscribe-panel h1 {
    font-size: 1.2rem;
}

.subscribe .subscribe-panel form {
    margin-top: 2rem;
}

.subscribe .subscribe-panel form input {
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    padding: 0 2rem;
    border: none;
    border-radius: 32px;
    outline: none;
}

.subscribe .subscribe-panel form button {
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 32px;
    background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    font-family: 'Raleway', sans-serif;
    font-size: .9rem;
    font-weight: 700;
    color: white;
}

/* ---------- FOOTER ---------- */
footer {
    padding: 1rem 0;
    border: solid 1px white;
    font-size: 16px;
}

footer .footer-logo img {
    width: 50%;
    margin-bottom: 2rem;
}

footer .footer-col {
    border: solid 1px pink;
}

footer .footer-text-icon {
    display: flex;
    margin-bottom: 1rem;
}

footer .footer-text-icon img {
    width: 21px;
    height: 24px;
    margin-top: 3px;
    margin-right: 1rem;
}

footer .footer-text-icon img[alt="Email"] {
    height: 16px;
}

footer .footer-text-icon p {
    margin: 0;
}

footer .footer-menu-list {
    margin-bottom: 2rem;
}

footer .footer-menu-list li {
    padding: 6px 0;
}

footer .footer-menu-list li a {
    color: white;
}

footer .footer-icon-list {
    display: flex;
    justify-content: center;
}

footer .footer-icon-list li {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: solid 1px white;
    border-radius: 32px;
}

footer .footer-icon-list li a {
    color: white;
}

/* Attribution ------------------------------ */
.attribution {
    text-align: center;
    font-size: 11px;
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}

.border {
    border: solid 1px white;
}