@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

body {
    margin: 0;
    background-color: hsl(218, 28%, 13%);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 1.9rem;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

header {
    width: 100%;
}

/* GRID ------------------------------ */

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 2rem;
}

.row {
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
}

/* BUTTON ------------------------------ */
.btn-main-link {
    background-color: hsl(198, 60%, 50%);
    padding: 1rem 4rem;
    border-radius: 2rem;
}

nav {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

nav .nav-logo {
    width: 30%;
}

nav .nav-menu {
    
}

nav .nav-menu .nav-menu-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

nav .nav-menu .nav-menu-list .nav-item {
    padding: .6rem;
}

nav .nav-menu .nav-menu-list .nav-item .nav-link {
    
}

/* MAIN SECTION ------------------------------ */
.cta {
    background: hsl(217, 28%, 15%) url('../images/bg-curvy-mobile.svg') bottom right no-repeat;
    background-size: contain;
    padding: 4rem 0;
    text-align: center;
}


/* FEATURES ------------------------------ */
.features {
    border: solid 1px white;
    padding: 2rem 0;
}

.feature-card {
    padding: 2rem;
    text-align: center;
}

.feature-card img {
    width: 20%;
}

/* STAY PRODUCTIVE ------------------------------ */

.link-icon {
    
}

.link-icon a {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border-bottom: solid 3px hsl(176, 68%, 64%); */
    border: solid 1px white;
    color: hsl(176, 68%, 64%);
    height: auto;
}

.link-icon a img {
    width: 10%;
    margin-left: .8rem;
    border: solid 1px white;
}

/* TESTIMONIALS */
.testimonials {
    background: url('../images/bg-quotes.png') top left no-repeat;
    padding: 8rem 0;
}

.testimonial-card {
    background-color: hsl(219, 30%, 18%);
    margin-bottom: 1rem;
    padding: 1.4rem;
    border-radius: 10px;
}

.testimonial-card .testimonial-author {
    display: flex;
    align-items: center;
}

.testimonial-card .testimonial-author img {
    width: 75px;
    height: 75px;
    border-radius: 40px;
}

.testimonial-card .testimonial-author .testimonial-author-text {
    margin-left: 1rem;
}

.testimonial-card .testimonial-author .testimonial-author-text h4,
.testimonial-card .testimonial-author .testimonial-author-text p {
    display: block;
    margin: 0;
}

/* SUBSCRIBE ------------------------------ */
.subscribe {
    text-align: center;
}

.subscribe-panel {
    background-color: hsl(217, 28%, 15%);
    padding: 3rem 2rem;
    border-radius: 10px;
}

.subscribe-panel form {
    display: flex;
    flex-direction: column;
}

.subscribe-panel form input {
    height: 50px;
    margin-top: 1rem;
    padding: 0 2.4rem;
    border: none;
    border-radius: 25px;
    font-family: 'Open Sans', sans-serif;
}

.subscribe-panel form button {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    height: 50px;
    margin-top: 1.8rem;
    background-color: hsl(198, 60%, 50%);
    border: none;
    border-radius: 25px;
}

/* FOOTER ------------------------------ */
footer {
    background-color: hsl(216, 53%, 9%);
    padding: 4rem 0;
}

footer .container .row {
    flex-direction: column;
}

footer .container .row > * {
    width: 100%;
}

.footer-logo {
    width: 50%;
}

.text-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-icon img {
    width: 32px;
}

.text-icon p {
    margin-left: 1rem;
}

.footer-menu {

}

.footer-menu-list, .footer-icon-list {
    padding: 0;
}



/* Attribution ------------------------------ */
.attribution { 
    font-size: 11px;
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}

.border {
    border: solid 1px white;
}