@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)) no-repeat;
    font-family: 'Kumbh Sans', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    
}

.row .col-4 {
    background: url('../images/illustration-woman-online-mobile.svg') no-repeat;
}

.faq-panel {
    background-color: white;
    border-radius: 2rem;
    margin-top: 4rem;
}












.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }