@use "sass:map";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$theme-colors: (
    "very-dark-saturated-blue": hsl(238, 29%, 16%),
    "very-dark-grayish-blue": hsl(237, 12%, 33%),
    "dark-grayish-blue": hsl(240, 6%, 50%),
    "light-grayish-blue": hsl(240, 5%, 91%),
    "soft-red": hsl(14, 88%, 65%),
    "gradient-violet-blue": linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%))
);

$font-family-main: 'Kumbh Sans', sans-serif;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: $font-family-main;
}

body {
    margin: 0;
    background: map.get($theme-colors, "gradient-violet-blue") top left no-repeat;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

#faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem 0 6rem;

    .faq-panel {
        display: flex;
        flex-direction: column;
        max-width: 328px;
        padding: 0 2rem 2.4rem;
        background-color: #FFF;
        border-radius: 1.4rem;
        transition: height .2s ease;

        .faq-image {
            position: relative;
            min-height: 120px;
            background-image: url(../images/bg-pattern-mobile.svg);
            background-position: 100% -20px;
            background-repeat: no-repeat;
            background-size: 100% auto;

            .faq-mobile-image {
                position: absolute;
                transform: translateY(-60%);
                transition: transform .4s ease;
                
                &:hover {
                    transform: translateY(-58%);
                    
                }
            }

            .faq-desktop-image {
                display: none;
            }

            .faq-desktop-box {
                display: none;
            }
        }

        .faq-questions {
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 2rem;
                text-align: center;
            }

            .faq-list {
                display: flex;
                flex-direction: column;

                .faq-item {
                    border-bottom: 1px solid map.get($theme-colors, "light-grayish-blue");
                    padding: 1rem 0;
                
                    .faq-question {
                        display: flex;
                        flex-direction: row;
                        align-content: stretch;
                        align-items: center;
                        justify-content: space-between;
                        cursor: pointer;
                        user-select: none;
                        
                        h4 {
                            flex: 1;
                            margin: 0;
                            font-weight: 400;
                            transition: color .2s ease;
                        }
    
                        .faq-dropdown {
                            width: 10px;
                            height: 7px;
                            background: url(../images/icon-arrow-down.svg) center no-repeat;
                            transform: rotate(0deg);
                            transition: transform .4s ease;
                        }

                        &:hover h4 {
                            color: map.get($theme-colors, "soft-red");
                        }
                    }
    
                    .faq-answer {
                        max-height: 0px;
                        color: map.get($theme-colors, "dark-grayish-blue");
                        overflow: hidden;
                        transition: all .6s ease;
    
                        p {
                            margin: 0;
                            font-size: .9rem;
                        }
                    }
                }

                .faq-active {
 
                    .faq-question {

                        h4 {
                            font-weight: 700;
                        }

                        .faq-dropdown {
                            transform: rotate(180deg);
                        }
                    }

                    .faq-answer {
                        max-height: 100px;
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
}

footer {
    padding: 2rem 0;

    .attribution {
        color: #FFF;
        font-size: 11px; 
        text-align: center;

        a {
            color: map.get($theme-colors, "soft-red");
        }
    }
}

@media (min-width: 1024px) {
    #faq {
        align-items: flex-start;
        justify-content: flex-start;
        min-height: 100vh;
        padding: 10% 0 0;

        .faq-panel {
            flex-direction: row;
            min-width: 920px;
            max-width: 920px;
            min-height: 510px;
            padding: 0;

            .faq-image {
                position: relative;
                width: 50%;
                background-image: url(../images/bg-pattern-desktop.svg);
                background-position: 105% 70%;
                background-size: 150% auto;
                background-repeat: no-repeat;
                
                .faq-mobile-image {
                    display: none;
                }

                .faq-desktop-image {
                    display: block;
                    position: relative;
                    height: 100%;
                    overflow: hidden;

                    img {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transform: translate(-15%, -20%);
                        transition: transform .4s ease;
                            
                        &:hover {
                            transform: translate(-15%, -18%);
                        }

                        // &:last-child {
                        //     transform: translate(-50%, -50%);

                        //     &:hover {
                        //         transform: translate(-60%, -50%);
                        //     }
                        // }
                        
                    }
                }

                .faq-desktop-box {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transform: translate(-50%, -50%);
                    transition: transform .4s ease;

                    &:hover {
                        transform: translate(-70%, -50%);
                    }
                }
            }

            .faq-questions {
                width: 50%;
                padding: 4rem;

                h1 {
                    text-align: left;
                }
            }
        }
    }
}