@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Manrope', sans-serif;
    background-color: hsl(210, 46%, 95%);
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}

p {
    font-weight: 500;
    color: hsl(214, 17%, 51%);
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 28px;
    display: flex;
    align-items: center;
}

/* ARTICLE CARD */
.article-card {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin: 32px 0;
    background-color: #FFF;
}

.article-card .card-image {
    overflow: hidden;
    min-height: 300px;
    max-height: 300px;
    border-radius: 1rem 1rem 0 0;
}

.article-card .card-texts {
    min-height: 375px;
    padding: 1rem 2.8rem;
    position: relative;
}

.article-card .card-texts h2 {
    font-size: 1.4rem;
}

/* ARTICLE CARD - Card Author */
.article-card .card-author {
    width: 100%;
    min-height: 100px;
    max-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 2.8rem;
    transition: ease .6s;
}

.article-card .card-author .card-author-image img {
    width: 64px;
    border-radius: 100%;
}

/* ARTICLE CARD - Card Author Texts */
.article-card .card-author .card-author-texts {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.article-card .card-author .card-author-texts .card-author-text {
    margin: 0 1.4rem;
}

.article-card .card-author .card-author-texts h4 {
    font-size: 1.2rem;
}

.article-card .card-author .card-author-text * {
    margin: 0 0 .4rem;
}

/* ARTICLE CARD - Card Author Links */
.article-card .card-share {
    display: flex;
    flex-direction: column;
}

.article-card .card-share-links {
    width: 100%;
    min-height: 100px;
    max-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 3rem;
    visibility: hidden;
    background-color: hsl(217, 19%, 35%);
    border-radius: 0 0 1rem 1rem;
}

.article-card .card-share-links p {
    text-transform: uppercase;
}

.article-card .card-share-links .social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.article-card .card-share-button {
    width: 48px;
    height: 48px;
    background-color: hsl(210, 46%, 95%);
    border-radius: 100%;
    cursor: pointer;
}

.article-card .card-share-button img {
    transform: translate(100%, 100%);
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


/* ATTRIBUTIONS */
.attribution { 
    font-size: 11px; text-align: center;
    margin-bottom: 2rem;
 }
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* DEBUG */
.border {
    border: solid 1px black;
}

@media (min-width: 768px) {
    .container {
        height: 90vh;
    }

    .article-card {
        flex-direction: row;
    }

    .article-card .card-image {
        min-width: 40%;
        max-width: 40%;
        min-height: 350px;
        max-height: 350px;
        border-radius: 1rem 0 0 1rem;
    }

    .article-card .card-image img {
        height: 100%;
        object-fit: cover;
    }

    .article-card .card-texts {
        min-width: 60%;
        max-width: 60%;
        min-height: 350px;
        max-height: 350px;
    }

    /* ARTICLE CARD - Card Author Links */
    .article-card .card-share-links {
        min-width: 250px;
        max-width: 250px;
        min-height: 50px;
        max-height: 50px;
        padding: 0 2rem;
        position: absolute;
        top: -40%;
        left: 65%;
        border-radius: 10px;
        z-index: 99;
    }
}