@use 'sass:map';

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

$theme-colors: (
    'primary': hsl(171, 66%, 44%),
    'secondary': hsl(233, 100%, 69%),
    'neutral-dark-blue': hsl(210, 10%, 33%),
    'neutral-grayish-blue': hsl(201, 11%, 66%),
    'neutral-gray': hsl(220, 18%, 97%)
);

$font-main: 'Bai Jamjuree', sans-serif;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font-main;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3 {
    color: map.get($theme-colors, 'neutral-dark-blue');
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
}

p {
    color: map.get($theme-colors, 'neutral-grayish-blue');
    line-height: 1.6rem;
}

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 2rem;
}

.container-full {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

.columns {
    display: flex;
    flex-direction: column;

    .column {
        flex: 1;
    }
}

// Buttons
.btn {
    display: block;
    padding: 1rem 2.4rem;
    border-radius: 32px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
}

.btn-primary {
    background-color: map.get($theme-colors, 'primary');
    border-bottom: 4px solid rgb(47, 150, 129);
    box-shadow: 0 4px 5px 4px hsla(171, 66%, 44%, 0.20);
    
    &:hover {
        background-color: rgb(93, 204, 187);
        box-shadow: none;
    }
}

.btn-secondary {
    background-color: map.get($theme-colors, 'secondary');
    border-bottom: 4px solid rgb(89, 100, 190);
    box-shadow: 0 4px 5px 4px hsla(233, 100%, 69%, 0.20);

    &:hover {
        background-color: rgb(136, 150, 255);
        box-shadow: none;
    }
}

.download-links {
    display: flex;
    flex-flow: column wrap;
    gap: 1.4rem;
}

#hero-section {
    padding: 8rem 0 4rem;
    background: url(../images/bg-header-mobile.png) top left no-repeat;
    background-size: 100% auto;
    text-align: center;

    img {
        margin-bottom: 2rem;
    }

    .download-links {
        margin-top: 2.8rem;
    }
}

#features-section {
    padding: 4rem 0;
    text-align: center;

    img {
        margin: 2.8rem 0 2rem;
    }

    .feature-list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 0;

        h3 {
            margin: 0 0 1rem;
        }
    }
}

#clipboard-section {
    padding: 4rem 0 2rem;
    text-align: center;

    img {
        margin: 2rem 0 0;
    }
}

#workflow-section {
    padding: 4rem 0 2rem;
    text-align: center;

    .columns {
        gap: 2.8rem;

        &:nth-of-type(1) {
            margin-bottom: 4rem;
        }
    }

    .workflow-feature {
        margin: 0 auto;

        img {
            margin-bottom: 1rem;
        }
    }
}

#brands-section {
    padding: 4rem 0;
    text-align: center;

    .columns {
        gap: 4rem;
    }
}

#cta-section {
    padding: 4rem 0 8rem;
    text-align: center;

    .download-links {
        margin-top: 3.2rem;
    }
}

footer {
    padding: 4rem 0 2rem;
    background-color: map.get($theme-colors, 'neutral-gray');
    text-align: center;

    .footer-brand {

        img {
            width: 18%;
            max-width: 60px;
        }
    }

    .footer-menu {
        display: flex;
        flex-direction: column;
        margin: 2rem 0;

        .footer-links {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 0;
            list-style: none;

            li {

                a {
                    display: block;
                    padding: .8rem 0;
                    color: map.get($theme-colors, 'neutral-dark-blue');
                    font-size: 1.2rem;
                    transition: color .2s ease;

                    &:hover {
                        color: map.get($theme-colors, 'primary');
                    }
                }
            }
        }
    }

    .attribution {
        font-size: 11px;
        text-align: center;

        a {
            color: map.get($theme-colors, 'primary');

            &:hover {
                color: map.get($theme-colors, 'secondary');
            }
        }
    }
}

.social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    margin: 0;
    padding: 1rem 0;
    list-style: none;

    li {

        a {
            color: map.get($theme-colors, 'neutral-dark-blue');
            transition: color .2s ease;

            &:hover {
                color: map.get($theme-colors, 'primary');
            }

            i {
                font-size: 1.6rem !important;
            }
            
        }
    }
}

@media (min-width: 768px) {

    h1 {
        font-size: 2rem;
    }

    .download-links {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    main {

        .container {
            padding: 0 8rem;
        }
    }

    #hero-section {
        background-image: url(../images/bg-header-desktop.png);

        
    }

    #features-section {

        .columns {

            .column {
                
                &:nth-of-type(1) {
                    padding: 0 6rem;
                }
            }
        }

        .feature-list {
            flex-flow: row wrap;
            justify-content: center;
            gap: 4rem;

            .feature {
                flex: initial;
                width: 40%;
            }
        }
    }

    #workflow-section {

        .workflow-feature {
            width: 50%;
        }
    }

    #brands-section {

        .container {
            padding: 0 2rem;
        }

        .columns {
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            gap: 4rem 2rem;

            .column {
                flex: none;
                width: 40%;
            }
        }
    }
}

@media (min-width: 1024px) {

    h1 {
        font-size: 2.8rem;
    }

    h2 {
        font-size: 2.4rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    p {
        font-size: 18px;
        line-height: 2rem;
    }

    main {

        .container {
            padding: 0 2rem;
        }
    }

    #hero-section {

        p {
            font-size: 21px;
        }
    }

    #features-section {

        .container {
            padding: 0 4rem 4rem;
        }

        .container-full {
            padding: 0;

            .columns {
                flex-direction: row;
                align-items: center;
                justify-content: stretch;

                

                .column {
                    flex: 1;
                    max-width: 50%;

                    &:nth-of-type(1) {
                        padding: 0;

                        img {
                            min-width: 120%;
                            max-width: 120%;
                            margin: 0;
                            float: right;
                        }
                    }

                    &:nth-of-type(2) {
                        padding: 0 8rem;
                    }
                }
            }
        }

        .feature-list {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            text-align: left;
            max-width: 340px;

            .feature {
                width: initial;
            }
        }
    }

    #workflow-section {
        padding: 4rem 0;

        .container {
            max-width: 1200px;
        }

        .columns {
            flex-direction: row;
            justify-content: space-between;
            gap: 4rem;
        }

        .workflow-feature {
            width: initial
        }
    }

    #brands-section {
        padding: 4rem 0;

        .container {
            max-width: 1200px;
        }

        .columns {
            flex-flow: row wrap;
            justify-content: space-between;

            .column {
                width: initial;
            }
        }
    }

    footer {
        text-align: left;

        .columns {
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;

            .column {
                flex: content;
            }
        }

        .footer-brand {

            img {
                width: 64px;
                max-width: 64px;
            }
        }

        .footer-menu {
            flex-direction: row;
            justify-content: space-between;
            margin: 0;

            .footer-links {
                align-items: flex-start;
                justify-content: flex-start;
                text-align: left;
            }
        }

        .footer-socials {
            
            .social-links {
                justify-content: flex-end;
            }
        }
    }

    .social-links {
        padding: 0;
    }

    .attribution {
        margin-top: 4rem;
    }
}