@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}


html {
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    margin: 0;
    background: url('../images/bg-intro-mobile.png') top left no-repeat;
    background-color: hsl(0, 100%, 74%, 95%);
    text-align: center;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1.4rem;
}

.row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.col {
    flex: 100%;
}

.free-trial-link {
    width: 100%;
    display: block;
    margin: 2rem 0;
    padding: 1.4rem 4rem;
    background-color: hsl(248, 32%, 49%);
    color: white;
    border-radius: 10px;
    box-shadow: -1px 10px 0px 0px rgba(0,0,0,0.10);
    transition: all 0.2s ease;
}

.free-trial-link:hover {
    background-color: hsla(248, 32%, 49%, 90%);
    box-shadow: none;
}


.trial-form {
    margin-bottom: 2rem;
    padding: 1.4rem;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: -1px 10px 0px 0px rgba(0,0,0,0.10);
}

.trial-form form {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
}

.trial-form span {
    display: block;
    margin-top: 1rem;
    font-size: .8rem;
    color: hsl(246, 25%, 77%);
}

.trial-form span a {
    font-weight: 700;
    color: hsl(0, 100%, 74%);
    transition: color 0.2s ease;
}

.trial-form span a:hover {
    color: hsla(0, 100%, 74%, 80%);
}

/* INPUTS */
.form-group {
    position: relative;
    width: 100%;
    margin: 0.4rem 0 0.8rem;
}

input {
    width: 100%;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: hsl(249, 10%, 26%);
    border: solid 1px hsl(246, 25%, 77%);
    border-radius: 5px;
    outline: none;
}

input:focus {
    border: solid 1px hsl(248, 32%, 49%);
}

.trial-button {
    padding: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background-color: hsl(154, 59%, 51%);
    box-shadow: -1px 3px 0px 0px rgba(0,0,0,0.20);
    cursor: pointer;
    transition: all 0.5s ease;
}

.trial-button:hover {
    background-color: hsla(154, 59%, 51%, 80%);
    box-shadow: none;
}

/* ERROR MESSAGE */
.error-message {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 400;
    color: hsl(0, 100%, 74%);
    text-align: right;
}

.error-input {
    color: hsl(0, 100%, 74%);
    border: solid 2px hsl(0, 100%, 74%);
}

.error-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 3px;
    right: 5px;
    background: url('../images/icon-error.svg') center no-repeat;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
    body {
        background: url(../images/bg-intro-desktop.png) top left no-repeat;
        background-size: cover;
        background-color: hsl(0, 100%, 74%, 95%);
    }

    .row {
        flex-flow: row nowrap;
        align-items: center;
    }

    .col {
        flex: 50%;
        padding: 6rem 4rem;
    }

    .col:first-child {
        text-align: left;
    }

    h1 {
        font-size: 48px;
    }

    p {
        font-size: 18px;
    }

    /* FORM */
    .trial-form {
        padding: 3rem;
    }

    .trial-button {
        font-size: 16px;
        font-weight: 500;
    }

    input {
        font-size: 0.9rem;
        padding: 1.2rem 2rem;
    }

    .error-icon {
        top: 6px;
    }
}



.border {
    border: solid 1px black;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }