@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f8e9dd;
  font-family: "DM Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

strong {
  font-weight: 700;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.4rem;
}

#expenses-chart__section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
}
#expenses-chart__section .expenses-chart {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  max-width: 540px;
  margin: 0 auto;
}
#expenses-chart__section .expenses-chart .expenses-chart__balance {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem;
  background-color: #ec775f;
  border-radius: 12px;
}
#expenses-chart__section .expenses-chart .expenses-chart__balance .balance {
  margin: 0;
  color: #fffaf5;
}
#expenses-chart__section .expenses-chart .expenses-chart__balance .balance .balance__amount {
  display: block;
  font-size: 1.5rem;
}
#expenses-chart__section .expenses-chart .expenses-chart__panel {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 1.4rem;
  background-color: #fffaf5;
  border-radius: 12px;
}
#expenses-chart__section .expenses-chart .expenses-chart__panel h2 {
  margin: 0;
  color: #382314;
}
#expenses-chart__section .expenses-chart .expenses-chart__panel p {
  margin: 0;
  color: #93867b;
}
#expenses-chart__section .expenses-chart .expenses-chart__panel strong {
  color: #382314;
}
#expenses-chart__section .expenses-chart .expenses-chart__panel .expenses-chart__chart {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: 1;
  gap: 0.8rem;
  max-width: 100%;
  margin-top: 50px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#expenses-chart__section .expenses-chart .expenses-chart__panel .expenses-chart__chart .chart-bar__day.chart-bar__active .chart-bar:hover .chart-bar__fill {
  background-color: rgba(118, 181, 188, 0.75);
}
#expenses-chart__section .expenses-chart .expenses-chart__panel .expenses-chart__chart .chart-bar__day.chart-bar__active .chart-bar .chart-bar__fill {
  background-color: #76b5bc;
}
#expenses-chart__section .expenses-chart .expenses-chart__panel .expenses-chart__chart .chart-bar__day .chart-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: flex-end;
  height: 150px;
  cursor: pointer;
}
#expenses-chart__section .expenses-chart .expenses-chart__panel .expenses-chart__chart .chart-bar__day .chart-bar:hover .chart-bar__fill {
  background-color: rgba(236, 119, 95, 0.75);
}
#expenses-chart__section .expenses-chart .expenses-chart__panel .expenses-chart__chart .chart-bar__day .chart-bar:hover .chart-bar__fill .chart-bar__fill__amount {
  display: block;
}
#expenses-chart__section .expenses-chart .expenses-chart__panel .expenses-chart__chart .chart-bar__day .chart-bar .chart-bar__fill {
  flex: 1;
  position: relative;
  width: 100%;
  height: 60%;
  background-color: #ec775f;
  border-radius: 4px;
  transition: 0.4s background-color ease;
}
#expenses-chart__section .expenses-chart .expenses-chart__panel .expenses-chart__chart .chart-bar__day .chart-bar .chart-bar__fill .chart-bar__fill__amount {
  display: none;
  position: absolute;
  top: -40px;
  left: 50%;
  padding: 0.4rem;
  background-color: #382314;
  border-radius: 5px;
  transform: translateX(-50%);
  z-index: 999;
}
#expenses-chart__section .expenses-chart .expenses-chart__panel .expenses-chart__chart .chart-bar__day .chart-bar .chart-bar__fill .chart-bar__fill__amount p {
  color: #fffaf5;
  font-size: 0.9rem;
  font-weight: 700;
}
#expenses-chart__section .expenses-chart .expenses-chart__panel .expenses-chart__chart .chart-bar__day small {
  display: block;
  margin-top: 0.8rem;
  color: #93867b;
  font-size: 0.7rem;
  text-align: center;
}
#expenses-chart__section .expenses-chart .expenses-chart__panel .expenses-chart__stats {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: 2rem;
  max-width: 100%;
}
#expenses-chart__section .expenses-chart .expenses-chart__panel .expenses-chart__stats .total-expenses {
  flex: 1;
}
#expenses-chart__section .expenses-chart .expenses-chart__panel .expenses-chart__stats .total-expenses .total-expenses__amount {
  display: block;
  font-size: 2rem;
}
#expenses-chart__section .expenses-chart .expenses-chart__panel .expenses-chart__stats .total-expenses__percentage {
  flex: 1;
  text-align: right;
}
#expenses-chart__section .expenses-chart .expenses-chart__panel .expenses-chart__stats .total-expenses__percentage .total-expeneses__percentage__amount {
  display: block;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 1.8rem 0;
  border: 1px solid #f8e9dd;
}

footer {
  padding: 4rem 0;
}
footer .footer-attribution {
  font-size: 11px;
  text-align: center;
}
footer .footer-attribution a {
  color: #3e52a3;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }

  #expenses-chart__section {
    min-height: 100vh;
  }
  #expenses-chart__section .expenses-chart {
    gap: 1.4rem;
  }
  #expenses-chart__section .expenses-chart .expenses-chart__balance {
    padding: 2rem 2rem 1.8rem;
    border-radius: 20px;
  }
  #expenses-chart__section .expenses-chart .expenses-chart__balance .balance .balance__amount {
    font-size: 2rem;
  }
  #expenses-chart__section .expenses-chart .expenses-chart__panel {
    padding: 2rem 2.4rem;
    border-radius: 20px;
  }
  #expenses-chart__section .expenses-chart .expenses-chart__panel h2 {
    font-size: 2rem;
  }
  #expenses-chart__section .expenses-chart .expenses-chart__panel .expenses-chart__chart {
    gap: 1rem;
    margin-top: 60px;
  }
  #expenses-chart__section .expenses-chart .expenses-chart__panel .expenses-chart__chart .chart-bar__day .chart-bar .chart-bar__fill .chart-bar__fill__amount {
    top: -45px;
    padding: 0.5rem;
  }
  #expenses-chart__section .expenses-chart .expenses-chart__panel .expenses-chart__chart .chart-bar__day .chart-bar .chart-bar__fill .chart-bar__fill__amount p {
    font-size: 1rem;
  }
  #expenses-chart__section .expenses-chart .expenses-chart__panel .expenses-chart__chart .chart-bar__day small {
    margin-top: 0.6rem;
    font-size: 1rem;
  }
  #expenses-chart__section .expenses-chart .expenses-chart__panel .divider {
    margin: 2.4rem 0;
  }
  #expenses-chart__section .expenses-chart .expenses-chart__panel .expenses-chart__stats .total-expenses .total-expenses__amount {
    font-size: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
