@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: hsl(255deg, 11%, 22%);
  font-weight: 700;
}

h1 {
  margin-bottom: 1rem;
  font-size: 2.6rem;
  line-height: 3rem;
}

h2 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1rem;
}

p {
  color: hsl(257deg, 7%, 63%);
  font-weight: 500;
  line-height: 2rem;
}

.line {
  width: 100%;
  border: none;
  border-bottom: 1px solid hsl(230deg, 25%, 95%);
}

.button {
  display: inline-block;
  padding: 1rem 2.6rem;
  border: none;
  border-radius: 32px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.button-primary {
  background-color: hsl(180deg, 66%, 49%);
  color: #fff;
  transition: 0.4s color ease, 0.4s background-color ease;
}
.button-primary:hover {
  background-color: hsl(179deg, 56%, 75%);
  color: #fff !important;
}

.button-copy {
  padding: 0.7rem 2rem;
  background-color: hsl(180deg, 66%, 49%);
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  transition: 0.4s color ease, 0.4s background-color ease;
}
.button-copy:hover {
  background-color: hsl(179deg, 56%, 75%);
  color: #fff !important;
}

.input {
  display: block;
  padding: 0.8rem 1rem;
  background-color: #fff;
  border-radius: 8px;
  border: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  outline: none;
}
.input::placeholder {
  color: hsl(257deg, 7%, 63%);
}

.input-error {
  position: relative;
  margin-bottom: 1.4rem;
}
.input-error .input {
  margin: -2px;
  border: 2px solid hsl(0deg, 87%, 67%);
}
.input-error .input::placeholder {
  color: hsl(0deg, 87%, 67%);
  opacity: 50%;
}
.input-error::after {
  content: "Please add a link";
  display: block;
  position: absolute;
  margin-top: 0.4rem;
  color: hsl(0deg, 87%, 67%);
  font-style: italic;
}

.input-group label {
  display: none;
}

.container {
  width: 100%;
  max-width: calc(1110px + 2.8rem);
  margin: 0 auto;
  padding: 0 1.4rem;
}

.columns {
  display: flex;
  flex-flow: column wrap;
}
.columns > * {
  flex: 1;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 100px;
}
.nav.nav-active .nav-menu {
  display: flex;
}
.nav .nav-logo {
  max-height: 33px;
}
.nav .nav-hamburger {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 50px;
  height: 50px;
  margin-right: -12px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.nav .nav-hamburger span {
  display: block;
  width: 24px;
  height: 3px;
  background-color: hsl(257deg, 7%, 63%);
}
.nav .nav-menu {
  display: none;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  padding: 2.4rem 1.4rem;
  background-color: hsl(257deg, 27%, 26%);
  border-radius: 10px;
  z-index: 9999;
}
.nav .nav-menu .line {
  border-bottom: 1px solid hsl(257deg, 7%, 63%);
}
.nav .nav-menu .nav-menu__links {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  min-width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav .nav-menu .nav-menu__links li {
  min-width: 100%;
}
.nav .nav-menu .nav-menu__links li a {
  display: block;
  color: hsl(230deg, 25%, 95%);
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}
.nav .nav-menu .nav-menu__links li a:hover {
  color: #fff;
}
.nav .nav-menu .nav-menu__links li a.button {
  padding: 0.7rem 2.6rem;
  color: #fff;
}

#hero__section {
  padding: 100px 0 10rem;
  overflow-x: hidden;
  text-align: center;
}
#hero__section .columns {
  flex-direction: column-reverse;
}
#hero__section .content {
  margin: 0 auto;
}
#hero__section .content p {
  font-size: 18px;
}
#hero__section .content-image img {
  max-width: 150%;
}

#shorten-link__section {
  background-color: hsl(230deg, 25%, 95%);
}
#shorten-link__section .container {
  position: relative;
}
#shorten-link__section .shorten-link {
  transform: translateY(-80px);
}
#shorten-link__section .shorten-link__form {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  padding: 1.4rem;
  background-color: hsl(257deg, 27%, 26%);
  background-image: url(../images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
  border-radius: 10px;
}
#shorten-link__section .shorten-link__form .input {
  width: 100%;
}
#shorten-link__section .shorten-link__form .button {
  padding: 0.7rem 1rem;
  border-radius: 10px;
}
#shorten-link__section .shorten-links {
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
  margin: 2rem 0 0;
  padding: 0;
  list-style: none;
}
#shorten-link__section .shorten-links li {
  max-width: 100%;
}
#shorten-link__section .shorten-links p {
  max-width: calc(100% - 2.8rem);
  margin: 0 1.4rem;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
}
#shorten-link__section .shorten-links__link {
  display: flex;
  flex-flow: column wrap;
  padding: 1.4rem 0;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}
#shorten-link__section .shorten-links__link-original {
  margin: 0 1.4rem;
  color: hsl(257deg, 27%, 26%);
}
#shorten-link__section .shorten-links__link div {
  display: flex;
  flex-flow: column wrap;
  gap: 0.6rem;
  margin: 0 1.4rem;
}
#shorten-link__section .shorten-links__link-shortened {
  margin: 0 !important;
  color: hsl(180deg, 66%, 49%);
}
#shorten-link__section .shorten-links__link .button-copy.button-copied {
  background-color: hsl(257deg, 27%, 26%);
}

#advanced-statistics__section {
  padding: 0 0 2rem;
  background-color: hsl(230deg, 25%, 95%);
  text-align: center;
}
#advanced-statistics__section h2 {
  margin-top: 0;
}
#advanced-statistics__section .features {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  position: relative;
  margin: 4rem 0;
}
#advanced-statistics__section .features::after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 100%;
  background-color: hsl(180deg, 66%, 49%);
  z-index: 0;
}
#advanced-statistics__section .features .feature {
  position: relative;
  max-width: 350px;
  margin: 0 auto;
  padding: 4rem 2rem 2rem;
  background-color: #fff;
  border-radius: 6px;
  z-index: 999;
}
#advanced-statistics__section .features .feature .feature__icon {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -45px;
  left: 50%;
  width: 90px;
  height: 90px;
  background-color: hsl(257deg, 27%, 26%);
  border-radius: 100%;
  line-height: 90px;
  transform: translateX(-50%);
}
#advanced-statistics__section .features .feature h3 {
  margin: 0.5rem 0;
  font-size: 1.4rem;
}
#advanced-statistics__section .features .feature p {
  line-height: 1.6rem;
  font-size: 15px;
}

#cta__section {
  padding: 6rem 0;
  background-color: hsl(257deg, 27%, 26%);
  background-image: url(../images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
#cta__section h2 {
  margin-top: 0;
  color: #fff;
  font-size: 1.7rem;
}

footer {
  padding: 2.8rem 0;
  background-color: hsl(260deg, 8%, 14%);
  color: #fff;
  text-align: center;
}
footer .columns {
  gap: 2rem;
}
footer .footer-logo img {
  filter: invert(95%) sepia(100%) saturate(22%) hue-rotate(318deg) brightness(104%) contrast(107%);
}
footer .footer-menu {
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
}
footer .footer-menu .footer-menu__links h6 {
  margin: 0 0 1rem;
  color: #fff;
}
footer .footer-menu .footer-menu__links .footer-links {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .footer-menu .footer-menu__links .footer-links li a {
  display: block;
  color: hsl(0deg, 0%, 75%);
  text-decoration: none;
}
footer .footer-menu .footer-menu__links .footer-links li a:hover {
  color: hsl(180deg, 66%, 49%);
}
footer .footer-socials {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .footer-socials li a {
  color: #fff;
  font-size: 24px;
  transition: 0.4s color ease;
}
footer .footer-socials li a:hover {
  color: hsl(180deg, 66%, 49%);
}
footer .footer-attribution {
  margin-top: 2rem;
  font-size: 11px;
  text-align: center;
  white-space: normal;
}
footer .footer-attribution a {
  color: hsl(180deg, 66%, 49%);
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.2rem;
    line-height: 4rem;
  }
  #shorten-link__section .shorten-link__form {
    padding: 2rem 2.8rem;
    background-image: url(../images/bg-shorten-desktop.svg);
    background-size: cover;
  }
  #cta__section {
    background-image: url(../images/bg-boost-desktop.svg);
    background-position: center;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4.8rem;
    line-height: 5.4rem;
  }
  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 18px;
  }
  .columns {
    flex-flow: row wrap;
  }
  .button {
    padding: 1.1rem 2rem;
    font-size: 20px;
  }
  .button-copy {
    min-width: 100px;
    max-width: 100px;
    padding: 0.5rem 1rem;
    font-size: 16px;
  }
  .input {
    padding: 1.1rem 2rem;
    font-size: 20px;
  }
  .input-error {
    margin: 0;
  }
  .nav {
    gap: 2.8rem;
    min-height: 136px;
  }
  .nav .nav-hamburger {
    display: none;
  }
  .nav .nav-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex: 1;
    position: initial;
    background-color: transparent;
    padding: 0;
    border-radius: none;
  }
  .nav .nav-menu .line {
    display: none;
  }
  .nav .nav-menu .nav-menu__links {
    flex-flow: row nowrap;
    gap: 1.8rem;
    min-width: 0;
  }
  .nav .nav-menu .nav-menu__links li {
    min-width: 0;
  }
  .nav .nav-menu .nav-menu__links li a {
    color: hsl(257deg, 7%, 63%);
    font-size: 1rem;
  }
  .nav .nav-menu .nav-menu__links li a:hover {
    color: hsl(255deg, 11%, 22%);
  }
  .nav .nav-menu .nav-menu__links li a.button {
    padding: 0.4rem 1.4rem;
  }
  #hero__section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    min-height: 800px;
    padding-top: 6.2rem;
    text-align: left;
  }
  #hero__section .columns {
    flex-flow: row nowrap;
    align-items: center;
    gap: 6rem;
  }
  #hero__section .content {
    min-width: 575px;
    max-width: 600px;
    flex: 570px;
  }
  #hero__section .content p {
    margin: 1rem 0;
    font-size: 20px;
  }
  #hero__section .content-image {
    min-width: 500px;
    max-width: 500px;
  }
  #shorten-link__section .shorten-link__form {
    flex-flow: row nowrap;
    gap: 1.5rem;
    padding: 3rem 4rem;
  }
  #shorten-link__section .shorten-link__form .input-group {
    flex: 1;
  }
  #shorten-link__section .shorten-link__form .button {
    padding: 1rem 2.5rem;
  }
  #shorten-link__section .shorten-links {
    gap: 1.4rem;
  }
  #shorten-link__section .shorten-links > p {
    margin: 0;
  }
  #shorten-link__section .shorten-links__link {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 1.4rem;
  }
  #shorten-link__section .shorten-links__link .line {
    display: none;
  }
  #shorten-link__section .shorten-links__link-original {
    margin: 0;
  }
  #shorten-link__section .shorten-links__link div {
    flex-flow: row nowrap;
    align-items: center;
    gap: 2rem;
    margin: 0;
  }
  #shorten-link__section .shorten-links__link-shortened {
    margin: 0;
  }
  #advanced-statistics__section {
    padding: 0.5rem 0 8.8rem;
  }
  #advanced-statistics__section .container > p {
    max-width: 48%;
    margin: 0 auto;
  }
  #advanced-statistics__section .features {
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 5.9rem;
  }
  #advanced-statistics__section .features::after {
    width: 100%;
    height: 8px;
    top: 56%;
  }
  #advanced-statistics__section .features .feature {
    margin: 0;
    text-align: left;
  }
  #advanced-statistics__section .features .feature .feature__icon {
    left: 30px;
    transform: none;
  }
  #advanced-statistics__section .features .feature:nth-of-type(2) {
    transform: translateY(45px);
  }
  #advanced-statistics__section .features .feature:nth-of-type(3) {
    transform: translateY(90px);
  }
  #cta__section {
    padding: 3.5rem 0;
  }
  #cta__section h2 {
    font-size: 2.4rem;
  }
  footer {
    padding: 4.4rem 0;
    text-align: left;
  }
  footer .columns {
    justify-content: space-between;
    gap: 6rem;
  }
  footer .columns > * {
    flex: auto;
  }
  footer .footer-logo {
    flex: 1;
  }
  footer .footer-menu {
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 4.8rem;
  }
  footer .footer-menu .footer-menu__links .footer-links {
    align-items: flex-start;
    justify-content: flex-start;
  }
  footer .footer-socials {
    align-items: flex-start;
    justify-content: flex-end;
    flex: initial;
  }
  footer .footer-attribution {
    margin-top: 8rem;
  }
}

/*# sourceMappingURL=style.css.map */
